<div>
    <div class="assets-grid">
        <img class="asset" src="https://picsum.photos/200/300" alt="" *ngFor="let asset of assets">
    </div>
</div>

<!-- ADD NEW -->
<div class="add-control">
    <img style="margin-left: 20px;" class="cursor-pointer" width="20px" src="assets/svg/add.svg" alt="add" (click)="openModal = true">
</div>

<div *ngIf="openModal">
    <div class="modal-container" style="position: fixed;top:50%;left:50%;background: #fff;">
        <div class="modal-header">
            <div class="modal-title">
                <h3>Add new asset</h3>
            </div>
            <div class="modal-close">
                <img class="cursor-pointer" width="20px" src="assets/svg/close.svg" alt="close" (click)="openModal = false">
            </div>
        </div>
        <div class="modal-body">
            <form class="modal-content" [formGroup]="formAsset" (submit)="uploadAsset()">
                <div class="modal-content-header">
                    <div class="modal-content-header-title">
                        <h4>Asset type</h4>
                    </div>
                    <div class="modal-content-header-select">
                        <select [formControlName]="'type'">
                            <option *ngFor="let type of AssetType | keyvalue">{{type.key}}</option>
                        </select>
                    </div>
                </div>
                <div class="modal-content-body">
                    <div class="modal-content-body-title">
                        <h4>Asset name</h4>
                    </div>
                    <div class="modal-content-body-input">
                        <input type="text" placeholder="Enter asset name" [formControlName]="'name'">
                    </div>
                </div>
                <div class="modal-content-body">
                    <div class="modal-content-body-title">
                        <h4>Asset URL</h4>
                    </div>
                    <div class="modal-content-body-input">
                        <div class="upload-preview" *ngIf="previewUploadFile">
                            <img style="width: 120px;" [src]="previewUploadFile" alt="upload-file">
                        </div>
                        <div class="upload-input">
                            <span class="msg"><img style="width:20px;margin-right:8px;" src="assets/svg/upload.svg" alt="upload-svg" /> Upload</span>
                            <input type="file" [formControlName]="'file'" (change)="onFileChange($event)">
                        </div>
                    </div>
                </div>
                <div class="modal-content-body">
                    <button type="submit" class="btn btn-primary" [disabled]="formAsset.invalid">UPLOAD</button>
                </div>
            </form>
        </div>
</div>
