@import 'src/styles.scss';

.filled-circle-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    position: relative;
    width: 40px;
    height: 50px;
}

.filled-circle {
    position: relative;
    width: 22px;
    height: 22px;
    border: 2px solid $c-white-grey;
    border-radius: 50%;

    background-image: url("../../../../../../assets/transparent-background.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 200%;
    cursor: pointer;
    box-sizing: content-box;

    .filled-circle-color {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;

        width: 22px;
        height: 22px;
        border: 2px solid transparent;
        border-radius: 50%;

        color-chrome {
            position: absolute;
            top: 40px;
            left: -10px;
            cursor: auto;
        }
    }
}

.floating-options {
    position: absolute;
    top: 55px;
    left: 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    padding: 15px;
    background-color: $c-whitest;
    border-radius: 4px;
    box-shadow: 0 4px 16px rgb($c-black, 12%);
    cursor: auto;
}
