<div class="map-editor">
  <app-map [map]="map" [currentToolSelected]="currentToolSelected"></app-map>

  <div class="left-column">
    <div class="tabs adjust">
      <div class="tab" [class.active]="tabs == 0" (click)="tabs = 0">Pages</div>
      <div class="tab" [class.active]="tabs == 1" (click)="tabs = 1">Libraries</div>
    </div>
    <div class="left-column-content">
      <ng-container *ngIf="tabs == 0">
        <div>page 1</div>
      </ng-container>
      <ng-container *ngIf="tabs == 1">
        <app-editor-libraries></app-editor-libraries>
      </ng-container>
    </div>
    <div class="left-column-tools">
      <app-editor-tools [currentToolSelected]="currentToolSelected" (toolSelectedChange)="onToolSelected($event)"></app-editor-tools>
    </div>
  </div>

  <div class="right-column">
    <app-map-properties [map]="map" (mapChange)="updateProperties($event)"></app-map-properties>
  </div>
</div>
