$editorSelectedColor: rgba(91,145,226, 1); //TODO check where is used

$c-blackest: #111316;
$c-black: #16191D;
$c-black-grey: #262A31;

$c-white-grey: #DBDBDB;
$c-white: #FFF;
$c-whitest: #F2F2F2;


$c-reddest: #FA2B3F;
$c-red-bluish: #E73444;

$c-greenest: #2AE619;

$c-pale-red: #FB7160;
$c-pale-orange: #FFDFAB;
$c-pale-green: #90EC88;
$c-pale-yellow: #E2F24B;
