<div class="tools-container">
  <div class="tool" (click)="onToolSelected('mouse')">
    <i class="fas fa-mouse-pointer"></i>
  </div>
  <div class="tool" (click)="onToolSelected('hand')">
    <i class="far fa-hand-paper"></i>
  </div>
  <div class="tool" (click)="onToolSelected('text')">
    <i class="fas fa-text-width"></i>
  </div>
  <div class="tool" (click)="onToolSelected('square')">
    <i class="far fa-square"></i>
  </div>
  <div class="tool" (click)="onToolSelected('image')">
    <i class="far fa-image"></i>
  </div>
</div>
