<div class="game-editor" *ngIf="game">

    <!-- MAP -->
    <div *ngIf="((map && game.author.id === userInteractor.getCurrentUser().id) || (map && gameStatus === GameStatus.Running))" class="map-container">
        <app-map *ngIf="!destroying"
            [map]="map"
            [meta]="mapMeta"
            [modification]="mapModification"
            [scale]="currentZoomOptions.value"
            [maxScale]="currentZoomOptions.max"
            [minScale]="currentZoomOptions.min"
            (scaleChange)="onScaleChange($event)"
            (mapDragEvent)="onMapDrag($event)"
            ></app-map>
    </div>

    <!-- TOP PANEL -->
    <div class="top-panel" *ngIf="(game.author.id === userInteractor.getCurrentUser().id)">
        <div class="tools-start">
            <app-game-status-tools [status]="gameStatus" [mapName]="map?.name" (statusChange)="onStatusChange($event)"></app-game-status-tools>
        </div>
        <div class="tools-end"></div>
    </div>

    <!-- LEFT PANEL -->
    <app-sidebar-custom class="left-panel" [(open)]="openMapList" [sidebarType]="'left'" [top]="'54px'">
        <div header>{{leftSidebarTitle}}</div>
        <div body>
            <app-map-list-tools
                [maps]="maps"
                [selectedMap]="map"
                [tabs]="0"
                [displayed]="openMapList"
                (mapsChange)="onMapsOrderChange($event)"
                (createMapEvent)="onCreateMap($event)"
                (selectedMapEvent)="onSelectedMap($event)"
                (deleteMapEvent)="onDeleteMap($event)"
                (updateMapEvent)="onUpdateMap($event)"
                (tabsChange)="onTabsChange($event)"
            ></app-map-list-tools>
        </div>
        <div toolsbar>
            <div class="tools-top"></div>
            <div class="tools-middle">
                <app-editor-tools></app-editor-tools>
            </div>
            <div class="tools-bottom">
                <div class="btn btn-white box-shadow" (click)="openMapList = !openMapList">
                    <svg fill="none" height="24" stroke-width="1.5" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19 21L5 21C3.89543 21 3 20.1046 3 19L3 5C3 3.89543 3.89543 3 5 3L19 3C20.1046 3 21 3.89543 21 5L21 19C21 20.1046 20.1046 21 19 21Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M9.5 21V3" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M5.5 10L7.25 12L5.5 14" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
        </div>
    </app-sidebar-custom>


    <!-- RIGHT PANEL -->
    <app-sidebar-custom class="right-panel" [sidebarType]="'right'">
        <div header>ASSETS</div>
        <div body>

        </div>
        <div toolsbar>
            <div class="tools-top">
                <div class="tools-top-row btn btn-white box-shadow">
                    <div>
                        <img height="22px" src="assets/icons/menu.png" alt="menu">
                    </div>
                </div>
            </div>
            <div class="tools-middle"></div>
            <div class="tools-bottom">
                <app-map-zoom-tools
                [(zoom)]="currentZoomOptions.value"
                [maxZoom]="currentZoomOptions.max"
                [minZoom]="currentZoomOptions.min"
                ></app-map-zoom-tools>
            </div>
        </div>
    </app-sidebar-custom>
    <!-- <div class="right-panel">
        <app-properties-list-tools [(open)]="openPropertiesList"></app-properties-list-tools>
        <app-assets-list [(open)]="openAssetsList"></app-assets-list>

        <div class="tools-top">
            <div class="tools-container btn btn-white box-shadow">
                <div (click)="openAssetsList = !openAssetsList">
                    ASSETS
                </div>
                <div>
                    USER
                </div>
            </div>
        </div>
        <div class="tools-middle"></div>
        <div class="tools-bottom">
            <app-map-zoom-tools
                [(zoom)]="currentZoomOptions.value"
                [maxZoom]="currentZoomOptions.max"
                [minZoom]="currentZoomOptions.min"
                ></app-map-zoom-tools>
        </div>
    </div> -->



<!--    <div class="left-column" *ngIf="true">-->
<!--        <div class="tabs adjust">-->
<!--            <div class="tab" [class.active]="tabs === leftColumnTabs.Maps" (click)="tabs = leftColumnTabs.Maps">Maps</div>-->
<!--            <div class="tab" [class.active]="tabs === leftColumnTabs.Library" (click)="tabs = leftColumnTabs.Library">Library</div>-->
<!--        </div>-->
<!--        <div class="left-column-content">-->
<!--            <ng-container *ngIf="tabs === leftColumnTabs.Maps">-->
<!--                <app-maps-list *ngIf="mapsList" [maps]="maps"-->
<!--                               (mapsChanges)="onMapsChange($event)"-->
<!--                               (newMapEvent)="onNewMap($event)"-->
<!--                               (removeMapEvent)="onRemoveMap($event)"-->
<!--                               (renameMapEvent)="onRenameMap($event)"-->
<!--                               (toPlayersMapEvent)="onToPlayersMap($event)"-->
<!--                               (selectedMap)="onSelectedMap($event)"></app-maps-list>-->
<!--            </ng-container>-->
<!--            <ng-container *ngIf="tabs === leftColumnTabs.Library">-->
<!--                <app-editor-libraries></app-editor-libraries>-->
<!--            </ng-container>-->
<!--        </div>-->
<!--    </div>-->

    <!-- KICKED MESSAGE -->
    <app-kicked-message *ngIf="gameInteractor.kickedGameId.value === game.id"></app-kicked-message>

<!--    <div class="right-column" *ngIf="mouse">-->
<!--        &lt;!&ndash;        <app-map-properties [map]="currentObjectSelected" (mapChange)="updateProperties($event)" *ngIf="currentObjectSelected"></app-map-properties>&ndash;&gt;-->
<!--        <app-konva-brush-properties *ngIf="mouse.state === 'brush' || selectedKonvaObject?.type === 'brush'"></app-konva-brush-properties>-->
<!--        <app-konva-eraser-properties *ngIf="mouse.state === 'eraser' || selectedKonvaObject?.type === 'eraser'"></app-konva-eraser-properties>-->
<!--        <app-konva-text-properties *ngIf="mouse.state === 'text' && !selectedKonvaObject"></app-konva-text-properties>-->
<!--        <app-konva-text-properties *ngIf="selectedKonvaObject?.type === 'text'"></app-konva-text-properties>-->
<!--        <app-konva-rectangle-properties *ngIf="mouse.state === 'square' && !selectedKonvaObject"></app-konva-rectangle-properties>-->
<!--        <app-konva-rectangle-properties *ngIf="selectedKonvaObject?.type === 'square'"></app-konva-rectangle-properties>-->
<!--    </div>-->
</div>
