<div class="game-editor">
    <app-page *ngIf="selectedPage" [page]="selectedPage" (mapMoveEvent)="onMapMove($event)"></app-page>

    <div class="left-column">
        <div class="tabs adjust">
            <div class="tab" [class.active]="tabs == 0" (click)="tabs = 0">Objects</div>
            <div class="tab" [class.active]="tabs == 1" (click)="tabs = 1">Libraries</div>
        </div>
        <div class="left-column-content">
            <ng-container *ngIf="tabs == 0">
                <app-pages-list *ngIf="game"
                                [pages]="game.pages"
                                [currentPage]="selectedPage"
                                (pagesChangesEvent)="onPagesChange($event)"
                                (newPageEvent)="onNewPage($event)"
                                (renamePageEvent)="onRenamePage($event)"
                                (removePageEvent)="onRemovePage($event)"
                                (selectedPageEvent)="onSelectedPage($event)"></app-pages-list>

                <app-maps-list  *ngIf="selectedPage"
                                [maps]="selectedPage.maps"
                                (mapsChanges)="onMapsChange($event)"
                                (newMapEvent)="onNewMap($event)"
                                (removeMapEvent)="onRemoveMap($event)"
                                (renameMapEvent)="onRenameMap($event)"
                                (toPlayersMapEvent)="onToPlayersMap($event)"
                                (selectedMap)="onSelectedMap($event)"></app-maps-list>
            </ng-container>
            <ng-container *ngIf="tabs == 1">
                <app-editor-libraries></app-editor-libraries>
            </ng-container>
        </div>
        <div class="left-column-tools">
            <app-editor-tools></app-editor-tools>
        </div>
    </div>

    <div class="right-column">
<!--        <app-map-properties [map]="currentObjectSelected" (mapChange)="updateProperties($event)" *ngIf="currentObjectSelected"></app-map-properties>-->
        <app-konva-brush-properties *ngIf="mouse.state === 'brush'"></app-konva-brush-properties>
        <app-konva-eraser-properties *ngIf="mouse.state === 'eraser'"></app-konva-eraser-properties>
        <app-konva-text-properties *ngIf="mouse.state === 'text'"></app-konva-text-properties>
        <app-konva-rectangle-properties *ngIf="mouse.state === 'square'"></app-konva-rectangle-properties>
    </div>
</div>
