<div class="game-editor" *ngIf="game">
    <!-- MAP -->
    <div *ngIf="((map && game.author.id === userInteractor.getCurrentUser().id) || (map && gameStartStatus === 0))" class="map-container">
        <app-map [map]="map" [modification]="mapModification"></app-map>
    </div>

    <!-- MAP LIST -->
    <div class="left-panel">
        <app-map-list-tools [(open)]="openMapList" [maps]="maps" [currentMap]="maps[0]"></app-map-list-tools>
        <div class="tools-bar">
            <div class="tools-top">
                <!-- NOTHING -->
            </div>
            <div class="tools-middle">
                <app-editor-tools></app-editor-tools>
            </div>
            <div class="tools-bottom">
                <div class="btn btn-white box-shadow" style="font-size: 12px;" (click)="openMapList = !openMapList">Maps</div>
            </div>
        </div>
    </div>

    <!-- TOP COLUMN -->
    <div class="top-panel" *ngIf="(game.author.id === userInteractor.getCurrentUser().id)">
        <button *ngIf="gameStartStatus === 2" (click)="onToggleGameStatus(0)">
            <i class="far fa-play-circle"></i>
            START GAME
        </button>
        <button *ngIf="gameStartStatus === 0" (click)="onToggleGameStatus(2)">
            <i class="far fa-pause-circle"></i>
            PAUSE GAME
        </button>
    </div>

<!--    <div class="left-column" *ngIf="true">-->
<!--        <div class="tabs adjust">-->
<!--            <div class="tab" [class.active]="tabs === leftColumnTabs.Maps" (click)="tabs = leftColumnTabs.Maps">Maps</div>-->
<!--            <div class="tab" [class.active]="tabs === leftColumnTabs.Library" (click)="tabs = leftColumnTabs.Library">Library</div>-->
<!--        </div>-->
<!--        <div class="left-column-content">-->
<!--            <ng-container *ngIf="tabs === leftColumnTabs.Maps">-->
<!--                <app-maps-list *ngIf="mapsList" [maps]="maps"-->
<!--                               (mapsChanges)="onMapsChange($event)"-->
<!--                               (newMapEvent)="onNewMap($event)"-->
<!--                               (removeMapEvent)="onRemoveMap($event)"-->
<!--                               (renameMapEvent)="onRenameMap($event)"-->
<!--                               (toPlayersMapEvent)="onToPlayersMap($event)"-->
<!--                               (selectedMap)="onSelectedMap($event)"></app-maps-list>-->
<!--            </ng-container>-->
<!--            <ng-container *ngIf="tabs === leftColumnTabs.Library">-->
<!--                <app-editor-libraries></app-editor-libraries>-->
<!--            </ng-container>-->
<!--        </div>-->
<!--    </div>-->

    <!-- KICKED MESSAGE -->
    <app-kicked-message *ngIf="gameInteractor.kickedGameId.value === game.id"></app-kicked-message>

<!--    <div class="right-column" *ngIf="mouse">-->
<!--        &lt;!&ndash;        <app-map-properties [map]="currentObjectSelected" (mapChange)="updateProperties($event)" *ngIf="currentObjectSelected"></app-map-properties>&ndash;&gt;-->
<!--        <app-konva-brush-properties *ngIf="mouse.state === 'brush' || selectedKonvaObject?.type === 'brush'"></app-konva-brush-properties>-->
<!--        <app-konva-eraser-properties *ngIf="mouse.state === 'eraser' || selectedKonvaObject?.type === 'eraser'"></app-konva-eraser-properties>-->
<!--        <app-konva-text-properties *ngIf="mouse.state === 'text' && !selectedKonvaObject"></app-konva-text-properties>-->
<!--        <app-konva-text-properties *ngIf="selectedKonvaObject?.type === 'text'"></app-konva-text-properties>-->
<!--        <app-konva-rectangle-properties *ngIf="mouse.state === 'square' && !selectedKonvaObject"></app-konva-rectangle-properties>-->
<!--        <app-konva-rectangle-properties *ngIf="selectedKonvaObject?.type === 'square'"></app-konva-rectangle-properties>-->
<!--    </div>-->
</div>
