@import "src/styles.scss";
.sidebar-left {
    left: -350px;
    margin-right: 8px;
    &.open {
        left: 0;
    }

    .tools-bar {
        right: -8px
    }
}
.sidebar-right {
    right: -350px;
    margin-left: 8px;
    &.open {
        right: 0;
    }

    .tools-bar {
        left: -8px
    }
}
.sidebar {
    position: absolute;
    width: 340px;
    top:0;
    bottom: 0;
    color: $c-indigo;
    background: $c-whitest;
    border-radius: 4px;
    transition: 300ms;
    margin: 9px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 64px 1fr 50px;
}
.sidebar-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 0 20px;
}

.sidebar-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar-footer{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.tools-bar {
    position: absolute;
    right: -8px;
    top:0;
    width: 1px;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
}

.item {
    position: relative;
    height: 48px;
    cursor: pointer;
    &:hover {
        background: rgba(0, 0, 0, 0.04);
    }

    .item-content {
        height: 100%;
        width: 100%;
        padding-left: 24px;
        padding-right: 24px;
        display: flex;
        align-items: center;
    }
}

