
@keyframes zombie-walking {
    0% {
        left: -4vw;
        top: 50vw;
    }
    100% {
        left: 104vw;
        top: 50vw;
    }
}

@keyframes archer-animation {
    0% {
        left: 36vw;
        top: -4vw;
    }
    10% {
        left: 36vw;
        top: 30.5vw;
    }
    89% {
        left: 36vw;
        top: 30.5vw;
    }
    90% {
        left: 36vw;
        top: 35.5vw;
    }
    100% {
        left: 36vw;
        top: 104vw;
    }
}

@keyframes vampire-animation {
    0% {
        left: 30.5vw;
        top: -4vw;
    }
    10% {
        left: 30.5vw;
        top: 30.5vw;
    }
    12% {
        top: 35.5vw;
        transform: rotate(0deg);
    }
    13% {
        transform: rotate(-90deg) scale(-1, 1);
    }
    89% {
        transform: rotate(-90deg) scale(-1, 1);
    }
    90% {
        left: 30.5vw;
        top: 35.5vw;
        transform: rotate(0deg);
    }
    100% {
        left: 30.5vw;
        top: 104vw;
    }
}
