<!--<div class="upload-input-container">-->
<!--    <div style="color: red;font-size: 11px" *ngIf="uploadError.active">-->
<!--        {{uploadError.message}}-->
<!--    </div>-->
<!--    <div class="files-input">-->
<!--        <div style="text-align: center">-->
<!--            <img width="20" src="assets/svg/upload.svg" alt="upload-svg"/>-->
<!--            <span style="margin-left: 8px;">Upload</span>-->
<!--            <div style="color:gray;font-size: 8px;">Max File Size {{maxFileSize / 1000000}}MB</div>-->
<!--        </div>-->
<!--        <input type="file" [multiple]="multiple" (change)="onFilesChange($event)" [max]="2">-->
<!--    </div>-->
<!--    <div class="files-list">-->
<!--        <div class="item" *ngFor="let file of previewFiles">-->
<!--            <img style="width: 60px;" [src]="file.reader" *ngIf="getFileType(file.file) === AssetType.Image">-->
<!--            <img style="width: 50px;" src="assets/icons/sound.png" *ngIf="getFileType(file.file) === AssetType.Audio">-->
<!--            <img style="width: 50px;" src="assets/icons/film.png" *ngIf="getFileType(file.file) === AssetType.Video">-->
<!--            <span class="item-info">-->
<!--                <span class="item-info-name">{{file.file.name}}</span>-->
<!--                <span class="item-info-size">{{formatBytes(file.file.size)}}</span>-->
<!--            </span>-->
<!--            <div class="item-options" (click)="removeFile(file)">x</div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="flex justify-center items-center w-full">
    <label for="dropzone-file" class="flex flex-col justify-center items-center w-100 min-h-[80px] max-h-full bg-gray-50 rounded-lg border-2 border-gray-300 border-dashed cursor-pointer dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
        <div class="flex flex-col justify-center items-center pt-4 pb-4">
            <svg aria-hidden="true" class="mb-3 w-10 h-10 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
            <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
        </div>
        <input id="dropzone-file" type="file" class="hidden" />
    </label>
</div>
