<!--<div class="col-12 text-white">-->
<!--    <label class="form-label">Image cover (url) 2MB</label>-->
<!--    <div class="preview" *ngIf="previewUploadImage">-->
<!--        <img [src]="previewUploadImage" alt="upload-image">-->
<!--    </div>-->
<!--    <div class="input-group">-->
<!--        <input type="text" class="form-control" placeholder="Image path" [formControlName]="'coverImage'">-->
<!--        <button class="btn btn-outline-secondary">-->
<!--            <i class="far fa-folder-open"></i>-->
<!--            <input type="file" (change)="coverImageChanged($event)" class="file-input-opacity">-->
<!--        </button>-->
<!--    </div>-->
<!--    <div *ngIf="uploadError" class="text-white bg-danger px-2">-->
<!--        <i class="fas fa-exclamation-circle"></i> Image upload Error, max size 2Mb-->
<!--    </div>-->
<!--</div>-->

<div class="upload-container">
    <div class="preview-container">
        <img *ngIf="previewUploadImage" [src]="previewUploadImage" alt="upload-image">
    </div>
    <div class="file-input-container">
        <label>{{name}}</label>
        <div class="file-input">
            <div class="file-input-pre-data">
                <img src="assets/svg/upload.svg" alt="upload-svg" />
                Upload File
            </div>
            <input type="file" (change)="coverImageChanged($event)" class="file-input-opacity">
        </div>
    </div>
    <div *ngIf="uploadError" class="upload-error-container bg-danger">
        <i class="fas fa-exclamation-circle"></i> Image upload Error
    </div>
</div>
