@import "src/styles.scss";

.upload-container {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: auto;
}

.file-input-container {
    color: $c-black;
    cursor: pointer;

    .file-input {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        width: 100%;
        border: 2px dashed $c-black;
        background: $c-whitest;

        &:hover {
            background: $c-whitest;
        }

        & > img {
            max-width: 100%;
        }

        .file-input-pre-data {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;

            height: 75px;

            img {
                width: 20px;
                height: 20px;
                padding-right: 7px;
            }
        }

        .file-input-opacity {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }
    }
}


.upload-error-container {
    color: $c-black;
    padding: .2rem .5rem;
}
