<app-custom-modal [open]="true" (openChange)="closeDialog()" [type]="'medium'" [title]="'Find Game'">
    <div class="grid grid-cols-[0.6fr_1fr] grid-rows-1 pt-0 p-[30px] h-[60vh]">
        <div class="image-container">
            <img src="../../../assets/backgrounds/library/esglesia.png" *ngIf="!selectedGame || !selectedGame.coverImage.uri">
            <img [src]="selectedGame.coverImage.uri" *ngIf="selectedGame && selectedGame.coverImage.uri">
            <div class="game-name">{{selectedGame === null ? '' : selectedGame.name }}</div>
        </div>
        <div class="search-game px-[50px]">
            <form class="mb-4" [formGroup]="fgSearch" (submit)="searchGame()">
                <label class="text-lg mb-2">Name or Author</label>
                <div class="flex items-end mb-3">
                    <input type="text" [formControlName]="'search'" maxlength="40" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Search" required>
                    <button type="submit" [disabled]="this.fgSearch.get('search').value === null" class="cursor-pointer inline-flex items-center py-2.5 px-4 ml-2 text-sm font-semibold text-black bg-white rounded-md border border-blue-700 hover:bg-zinc-500 focus:ring-4 focus:outline-none focus:ring-blue-300">SEARCH</button>
                </div>
            </form>

            <div class="games-list grid flex-column flex-nowrap overflow-y-scroll h-[39vh] mb-4">
                <app-loading-spinner *ngIf="loading"></app-loading-spinner>
                <ng-container *ngIf="!loading && gamesList.length > 0">
                    <div class="relative overflow-hidden hover:bg-zinc-800 cursor-pointer grid grid-cols-[0.18fr_1fr] grid-rows-1 h-[70px]" [class.bg-zinc-600]="game?.id === selectedGame?.id" *ngFor="let game of gamesList" (click)="selectGame(game)" [ngClass]="selectedGame === game ? 'selectedGame' : ''">
                        <div class="flex align-items-center">
                            <img class="w-[50px] h-[50px] rounded-full" [src]="game.coverImage.uri ?? '../../../assets/backgrounds/menus/background-default-game.webp'" alt="game cover">
                        </div>
                        <div class="flex flex-column justify-content-center align-items-start">
                            <div class="game-name mb-1">
                                <span>{{game.name}}</span>
                                <span class="text-zinc-500">{{game.hash}}</span>
                            </div>
                            <div class="game-author">
                                <span>by </span>
                                <span>{{game.author.name}}</span>
                                <span class="text-zinc-500">{{game.author.hash}}</span>
                            </div>
                        </div>
                        <div class="absolute left-0 right-0 bottom-0 h-[2px] bg-gray-50 opacity-10"></div>
                    </div>
                </ng-container>
                <ng-container *ngIf="!loading && gamesList.length <= 0">
                    <h2 class="flex justify-content-center align-items-center text-4xl font-extrabold text-white w-full h-full">No games found</h2>
                </ng-container>
            </div>
            <div class="flex justify-content-center align-items-center">
                <button (click)="requestGameAccess(selectedGame.id, selectedGame.author.id)" type="button" class="focus:outline-none text-black bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-semibold rounded-md text-sm px-5 py-2.5 mr-2 mb-2">REQUEST ACCESS</button>
            </div>
        </div>
    </div>
</app-custom-modal>
