<!--<div class="box-shadow"></div>-->
<!--<div class="search-game-box">-->
<!--    <div class="search-game-card card-roll">-->
<!--        <div class="header" *ngIf="loaded">-->
<!--            <div class="exit">-->
<!--                <svg (click)="closeDialog()" width="26px" height="26px" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.7929 7.49998L1.14645 1.85353L1.85356 1.14642L7.50001 6.79287L13.1465 1.14642L13.8536 1.85353L8.20711 7.49998L13.8536 13.1464L13.1465 13.8535L7.50001 8.20708L1.85356 13.8535L1.14645 13.1464L6.7929 7.49998Z" />-->
<!--                    <title>close</title>-->
<!--                </svg>-->
<!--            </div>-->
<!--            <div class="title">Find Game</div>-->
<!--        </div>-->
<!--        <div class="vertical-line"></div>-->
<!--        <div class="body" *ngIf="loaded">-->
<!--            <div class="image-container">-->
<!--                <img src="../../../assets/backgrounds/library/esglesia.png" alt="">-->
<!--                <div class="centered">{{selectedGame === null ? '' : selectedGame.name }}</div>-->
<!--            </div>-->
<!--            <div class="search-game">-->
<!--                <div class="">-->
<!--                <label [for]="'game-id'">Name, Id or Author</label>-->
<!--                    <input type="text" [id]="'game-id'" maxlength="40"-->
<!--                            [(ngModel)]="searchGameId"/>-->
<!--                    <button [disabled]="searchGameId === ''" type="button" (click)="searchGame()">FIND</button>-->
<!--                </div>-->
<!--                <div style="display: flex; flex-direction: column; justify-content: space-between;">-->
<!--                </div>-->
<!--                <div class="horizontal-line"></div>-->
<!--                <div class="games-list">-->
<!--                    <div class="game" *ngFor="let game of gamesList"-->
<!--                            (click)="selectGame(game)">-->
<!--                        <div class="viewGame"-->
<!--                        [ngClass]="selectedGame === game ? 'selectedGame' : ''"-->
<!--                        >-->
<!--                            <img src="../../../assets/backgrounds/library/spells-bg.webp" alt="Avatar" >-->
<!--                            <div>-->
<!--                                <div class="game-name">-->
<!--                                    <span>{{game.name}}</span>-->
<!--                                    <span>{{game.hash}}</span>-->
<!--                                </div>-->
<!--                                <div class="game-author">-->
<!--                                    <span>by </span>-->
<!--                                    <span>{{game.author.name}}</span>-->
<!--                                    <span>{{game.author.hash}}</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="horizontal-line"></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <button [disabled]="selectedGame === null" (click)="requestGameAccess(selectedGame.id, selectedGame.author.id)" class="request">REQUEST ACCESS</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->



<app-custom-modal [open]="true" (openChange)="closeDialog()" [type]="'medium'" [title]="'Find Game'">
    <div class="grid grid-cols-2">
        <div class="image-container">
            <img src="../../../assets/backgrounds/library/esglesia.png" alt="">
            <div class="centered">{{selectedGame === null ? '' : selectedGame.name }}</div>
        </div>
        <div class="search-game">
            <div class="">
                <label [for]="'game-id'">Name, Id or Author</label>
                <input type="text" [id]="'game-id'" maxlength="40" class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" [(ngModel)]="searchGameId"/>
                <button [disabled]="searchGameId === ''" type="button" (click)="searchGame()">FIND</button>
            </div>
            <div style="display: flex; flex-direction: column; justify-content: space-between;">
            </div>
            <div class="horizontal-line"></div>
            <div class="games-list">
                <div class="game" *ngFor="let game of gamesList"
                     (click)="selectGame(game)">
                    <div class="viewGame" [ngClass]="selectedGame === game ? 'selectedGame' : ''">
                        <img src="../../../assets/backgrounds/library/spells-bg.webp" alt="Avatar" >
                        <div>
                            <div class="game-name">
                                <span>{{game.name}}</span>
                                <span>{{game.hash}}</span>
                            </div>
                            <div class="game-author">
                                <span>by </span>
                                <span>{{game.author.name}}</span>
                                <span>{{game.author.hash}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="horizontal-line"></div>
                </div>
            </div>
            <div>
                <button [disabled]="selectedGame === null" (click)="requestGameAccess(selectedGame.id, selectedGame.author.id)" class="request">REQUEST ACCESS</button>
            </div>
        </div>
    </div>
</app-custom-modal>
