@import '../../../../colors';

.list-title{
  display: grid;
  grid-template-columns: 40px auto 40px;
  grid-template-rows: 40px;
  align-items: center;
  overflow: hidden;

  &:hover{
    background: darken($editorMainForeground, 5%);
  }
  .title{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .fas{
    margin: 0 10px;
  }
}
.page-list {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 14px;

  .item{
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 10px;
    height: 40px;

    &.active {
      background: $editorSelectedColor;
    }
  }
}
