<div class="list-title">
    <i class="fas fa-chevron-down cursor-pointer"></i>
    <div class="title">Pages</div>
    <i class="fas fa-plus cursor-pointer" (click)="showNewPageForm = true;currentPage=null;"></i>
</div>
<div class="content-list page-list">
    <div dragula="PAGES" [(dragulaModel)]="pages">
        <div class="item" [class.active]="currentPage === page" *ngFor="let page of pages" (click)="onSelectPage(page)">{{page.name}}</div>
    </div>
    <form [formGroup]="newPageForm" (submit)="onAddNewPage()" *ngIf="showNewPageForm">
        <div class="item active"><input type="text" placeholder="Page ..." autofocus [formControlName]="'name'"></div>
    </form>
</div>
