<div class="tools-container">
    <div class="multiple-tools" *ngFor="let blockOfTools of blocksOfTools; let i = index"
         (mouseenter)="displayExtraToolsIndex = i"
         (mouseleave)="displayExtraToolsIndex = 99">
        <app-tools-ux [blockOfTools]="blockOfTools"
                      [currentToolSelected]="currentToolSelected"
                      [toolDisplayed]="true"></app-tools-ux>
        <div *ngIf="displayExtraToolsIndex === i">
            <app-tools-ux  class="extra-tools" [blockOfTools]="blockOfTools"
                          [currentToolSelected]="currentToolSelected"
                          [toolDisplayed]="false"></app-tools-ux>
        </div>
    </div>
</div>
