<div class="wizard-container">
    <div class="wizard-head">
<!--        <div class="step-bar">-->
<!--            <div class="step"></div>-->
<!--        </div>-->
    </div>
    <div class="wizard-body">
        <div class="step-container" *ngIf="currentStep === 0">
            <div class="card-list">
                <div class="card card-item" (click)="selectActorType('CHARACTER')">
                    <div class="card-body">
                        CHARACTER
                    </div>
                </div>
                <div class="card card-item" (click)="selectActorType('MONSTERS')">
                    <div class="card-body">
                        MONSTERS
                    </div>
                </div>
                <div class="card card-item" (click)="selectActorType('NPC')">
                    <div class="card-body">
                        NPC
                    </div>
                </div>
                <div class="card card-item" (click)="selectActorType('OBJECT')">
                    <div class="card-body">
                        OBJECT
                    </div>
                </div>
                <div class="card card-item" (click)="selectActorType('SPELL')">
                    <div class="card-body">
                        SPELL
                    </div>
                </div>
                <div class="card card-item" (click)="selectActorType('PET')">
                    <div class="card-body">
                        PET
                    </div>
                </div>
            </div>
        </div>
        <div class="step-container" *ngIf="currentStep === 1">
            <form [formGroup]="fg">
                <div>
                    <div class="btn btn-primary" (click)="showAssets = !showAssets">Asset Select</div>
                    <div *ngIf="true" style="width: 100%;height: 200px;">
                        <app-custom-list [items]="assets"></app-custom-list>
                    </div>
                </div>
                <div>
                    <label>name</label>
                    <input type="text" [formControlName]="'name'">
                </div>
                <div>
                    <label>HP</label>
                    <input type="number" [formControlName]="'hp'">
                </div>
                <div>
                    <label>MP</label>
                    <input type="number" [formControlName]="'mp'">
                </div>
                <div>
                    <label>movement</label>
                    <input type="number" [formControlName]="'movement'">
                </div>
                <button class="btn btn-primary">CREATE</button>
            </form>
        </div>
    </div>
</div>
