<div class="blueprints-container">
    <div class="flex end absolute right-20 top-20 z-50">
        <svg (click)="close()" class="cursor-pointer hover:bg-gray-700 rounded-sm p-1"
             width="28px" height="28px" viewBox="0 0 15 15" fill="#fff" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.7929 7.49998L1.14645 1.85353L1.85356 1.14642L7.50001 6.79287L13.1465 1.14642L13.8536 1.85353L8.20711 7.49998L13.8536 13.1464L13.1465 13.8535L7.50001 8.20708L1.85356 13.8535L1.14645 13.1464L6.7929 7.49998Z" />
        </svg>
    </div>
    <div class="buttons-box p-3">
        <button type="button" style="background-color: red" class="btn px-3 my-2"
                (click)="addBBOnInit()">On Init</button>
        <button type="button" style="background-color: dodgerblue" class="btn px-3 my-2"
                (click)="addBBCountdown()">Countdown</button>
        <button type="button" style="background-color: dodgerblue" class="btn px-3 my-2"
                (click)="addBBGetActors()">Get Actors</button>
        <button type="button" style="background-color: orange" class="btn px-3 my-2"
                (click)="addSwitchInteger()">Switch Int</button>
        <button type="button" style="background-color: limegreen" class="btn px-3 my-5"
                (click)="saveBlueprint()">SAVE</button>
    </div>
    <div class="frame" (click)="clickedOnFrame($event)">
        <div appDroppable class="canvas droppable" #droppable
             [options]="{ accept: '.draggable' }"
             (dropping)="elementDropped($event)">

            <svg *ngIf="temporalLink" class="link" #svg
                 [style.left]="temporalLink.position.x + 'px'"
                 [style.top]="temporalLink.position.y + 'px'"
                 [style.width]="getLinkWidth(temporalLink) + 'px'"
                 [style.height]="getLinkHeight(temporalLink) + 'px'"
                 xmlns="http://www.w3.org/2000/svg">
                <path [attr.d]="getSVGPath(temporalLink)"
                      transform
                      pointer-events="visibleStroke"
                      fill="none"
                      stroke="#FFFFFF"
                      stroke-width="2"></path>
            </svg>
            <ng-container *ngFor="let link of blueprint.blueprintLinks">
                <svg class="link" #svg
                     [style.left]="link.position.x + 'px'"
                     [style.top]="link.position.y + 'px'"
                     [style.width]="getLinkWidth(link) + 'px'"
                     [style.height]="getLinkHeight(link) + 'px'"
                     xmlns="http://www.w3.org/2000/svg">
                    <path *ngIf="selectedLink?.id !== link?.id" [attr.d]="getSVGPath(link)"
                          (click)="toggleLinkSelection(link)"
                          transform
                          pointer-events="visibleStroke"
                          fill="none"
                          stroke="#FFFFFF"
                          stroke-width="2"></path>
                    <path *ngIf="selectedLink?.id === link?.id" [attr.d]="getSVGPath(link)"
                          (click)="toggleLinkSelection(link)"
                          class="selected-link"
                          transform
                          pointer-events="visibleStroke"
                          fill="none"
                          stroke="#CFB525"
                          stroke-width="2"></path>
                    <path [attr.d]="getSVGPath(link)"
                          (click)="toggleLinkSelection(link)"
                          (mouseenter)="mouseHoversLink($event, link)"
                          (mouseleave)="mouseLeavesLink($event, link)"
                          transform
                          pointer-events="visibleStroke"
                          fill="none"
                          stroke="transparent"
                          stroke-width="15"></path>
                </svg>
            </ng-container>
            <ng-container *ngFor="let bb of blueprint.blueprintBoxes;">
                <app-bb-wrapping appDraggable
                                 class="draggable"
                                 [bb]="bb"
                                 [id]="bb.id"
                                 [style.top]="bb.render.position.y + 'px'"
                                 [style.left]="bb.render.position.x + 'px'"
                                 [objectData]="bb"
                                 (nodeInHasBeenTouched)="touchedNodeIn($event)"
                                 (nodeOutHasBeenTouched)="touchedNodeOut($event)"
                                 (draggableClick)="clickedBB($event)"
                                 (dragging)="modifyBBPosition($event, bb)">
                    <app-bb-on-init *ngIf="bb.kind === 'ON_INIT'" [bb]="bb"></app-bb-on-init>
                    <app-bb-countdown *ngIf="bb.kind === 'COUNTDOWN'" [bb]="bb"></app-bb-countdown>
                    <app-bb-get-actors *ngIf="bb.kind === 'GET_ACTORS'" [bb]="bb"></app-bb-get-actors>
                    <app-bb-switch-integer *ngIf="bb.kind === 'SWITCH_INTEGER'"
                                           [bb]="bb" (addNodeOut)="addNodeOut(bb)"></app-bb-switch-integer>
                </app-bb-wrapping>
            </ng-container>
        </div>
    </div>
</div>
