<div class="blueprints-container">
    <div class="frame">
        <div appDroppable class="canvas droppable"
             [options]="{ accept: '.draggable' }"
             (dropping)="assignTask($event)">

            <ng-container *ngFor="let bb of objects[0].blueprint.blueprintBoxes;">
                <app-bb-area *ngIf="bb.type === 'area'" appDraggable class="draggable"
                             [area]="bb"
                             [id]="bb.id"
                             [style.top]="bb.position.y + 'px'"
                             [style.left]="bb.position.x + 'px'"
                             [objectData]="bb"
                             (draggableClick)="openDetail(bb)"></app-bb-area>
            </ng-container>
        </div>
    </div>
</div>
