<div class="blueprints-container">
    <div class="frame">
        <div appDroppable class="canvas droppable"
             [options]="{ accept: '.draggable' }"
             (dropping)="elementDropped($event)">

            <ng-container *ngFor="let link of blueprint.blueprintLinks">
                <svg class="link" #svg
                     [style.left]="link.position.x + 'px'"
                     [style.top]="link.position.y + 'px'"
                     [style.background-color]="'red'"
                     [style.width]="getLinkWidth(link) + 'px'"
                     [style.height]="getLinkHeight(link) + 'px'"
                     xmlns="http://www.w3.org/2000/svg">
                    <path [attr.d]="getSVGPath(link)"
                          transform
                          pointer-events="visibleStroke"
                          fill="none"
                          stroke="#FFFFFF"
                          style=""
                          stroke-width="2"></path>
                </svg>
            </ng-container>
            <ng-container *ngFor="let bb of blueprint.blueprintBoxes;">
                <app-bb-area *ngIf="bb.type === 'area'"
                             appDraggable
                             class="draggable"
                             [bb]="bb"
                             [id]="bb.id"
                             [style.top]="bb.position.y + 'px'"
                             [style.left]="bb.position.x + 'px'"
                             [objectData]="bb"
                             (draggableClick)="clickedBB($event)"
                             (dragging)="modifyBBPosition($event, bb)">
                </app-bb-area>
            </ng-container>
        </div>
    </div>
</div>
