@import 'src/styles.scss';

.blueprints-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.frame {
    position: relative;
    width: 90%;
    height: 90%;
    background-color: $c-wizard-blue;
    overflow: hidden;
}

.link {
    position: absolute;
    z-index: 4;

    path {
        cursor: pointer;
    }
}

.canvas {
    position: absolute;
    width: 50000px;
    height: 50000px;
    background: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
    ), url('../../../assets/grid.jpg');
    background-size: 200px;

    transform: scale(1);
    z-index: 1;
}

.draggable {
    position: absolute;
    z-index: 5;
}

.droppable {
    margin: 0;
    padding: 0;
    touch-action: none;
    user-select: none;
}
