<div class="adventures-container">
    <div id="whaty" class="bg-menu"></div>
    <div id="particles-js"></div>
    <div class="floating-char-menu"></div>
    <div class="bg-blur"></div>
    <div id="particles-js-2"></div>
    <div id="particles-js-3"></div>
    <div class="absolute top-0 right-0 p-4" style="z-index: 99999">
        <img class="w-[40px] h-[40px] rounded-full" src="https://picsum.photos/200/300" alt="avatar">
        <div class="text-white">User</div>
    </div>
    <router-outlet></router-outlet>
    <img src="./assets/svg/music.svg" alt="sound" class="invert sound-icon cursor-pointer" (click)="handleMusic()" [class.invert]="storageService.settings$.value.music">
</div>
