@import "../../../colors";

* {
    box-sizing: border-box;
}

.sign-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    height: 100vh;
    width: 100vw;
    padding: 60px;
    background-color: #262A31;

    .left-box {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        height: 100%;

        img {
            height: 50vh;
            width: 50vw;
        }
    }

    .full-box {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        height: 100%;
        width: 100%;

        img {
            height: 50vh;
            width: 50vw;
        }
    }

    .right-box {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        height: 100%;

        app-sign-in, app-sign-up {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;

            height: 100%;
            width: 100%;
        }
    }
}
