<div class="bg">
    <div class="flex justify-content-center w-100 h-100">
        <div class="relative flex flex-column justify-content-center h-100 w-[416px] mt-[-9vh]">
            <div class="w-100 flex flex-column justify-content-center align-items-center">
                <img style="width: 120px" src="./assets/svg/logo-red-white.svg" alt="logo"/>
                <h2 class="text-white mt-4" style="font-size: 30px;">ROLLINN</h2>
            </div>
            <div class="mt-4">
                <app-sign-in *ngIf="display === 'signIn'" (display)="changeDisplay($event)"></app-sign-in>
                <app-sign-up *ngIf="display === 'signUp'" (display)="changeDisplay($event)"></app-sign-up>
            </div>
        </div>
    </div>
</div>

