<div class="title-box">
    <span>Sign up</span>
</div>
<form class="mid-box" [formGroup]="signUpForm" (submit)="signUp()">
    <div class="form">
        <div class="username-box">
            <label class="title" for="username">Username</label>
            <input class="value" id="username" name="username"
                   placeholder="MyAccountRocks!" type="text" [formControlName]="'username'"/>
        </div>
        <div class="username-box">
            <label class="title" for="email">Email</label>
            <input class="value" id="email" name="email"
                   placeholder="myaccount@rocks.com" type="email" [formControlName]="'email'"/>
        </div>
        <div class="password-box">
            <label class="title" for="password">Password</label>
            <img class="eye" src="./assets/icons/visibilidad.png"
                 (mousedown)="displayPassword = true" (mouseup)="displayPassword = false"/>
            <input [type]="displayPassword ? 'text' : 'password'" class="value" id="password"
                   name="password" placeholder="#~#Example123!" [formControlName]="'password'"/>
        </div>
        <div class="password-box">
            <label class="title" for="repeatPassword">Repeat password</label>
            <img class="eye" src="./assets/icons/visibilidad.png"
                 (mousedown)="displayRepeatPassword = true" (mouseup)="displayRepeatPassword = false"/>
            <input [type]="displayRepeatPassword ? 'text' : 'password'" class="value" id="repeatPassword"
                   name="repeatPassword" placeholder="#~#Example123!" [formControlName]="'repeatPassword'"/>
        </div>
    </div>
    <div class="sign-button-box">
        <button class="big-button" type="submit" [disabled]="!signUpForm.valid">Register</button>
    </div>
</form>
<div class="bottom-box">
    <div class="bottom-option"></div>
    <div class="bottom-option" (click)="alreadyHaveAccount()">I already have an account</div>
</div>
