<div class="relative">
    <div class="assets-grid">
        <div class="item" *ngFor="let asset of assets;let i = index;">
            <div class="item-img">
                <img class="asset-img" [src]="asset.uri" alt="asset" (click)="paintAssetOnMap(asset)">
                <app-mini-menu>
                    <div class="menu-item" (click)="removeItem(asset, $event)">Delete</div>
                </app-mini-menu>
            </div>
            <div class="item-name">{{asset.name}}</div>
        </div>
    </div>

    <!-- ADD NEW -->
    <div class="add-control">
        <img style="margin-left: 20px;" class="cursor-pointer" width="20px" src="assets/svg/add.svg" alt="add" (click)="openModal = true">
    </div>
</div>


<!-- NEW ASSET MODAL -->
<app-custom-modal [(open)]="openModal" [title]="'New asset'" [bgColor]="'white'" [type]="'small'">
    <form class="p-[50px]" [formGroup]="fgAsset" (submit)="uploadAsset()">
        <div class="mb-4">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Name</label>
            <input type="text" [formControlName]="'name'" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Enter asset name" required>
        </div>
        <div class="mb-4">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Asset</label>
            <upload-input *ngIf="!loading" (files)="onInputFilesChange($event)" [multiple]="false" [maxFilesLimit]="1"></upload-input>
            <div *ngIf="loading" class="py-5">
                <app-loading-spinner></app-loading-spinner>
            </div>
        </div>
        <div class="mt-4 flex justify-content-center align-items-center">
            <button type="submit" [disabled]="fgAsset.invalid" class="cursor-pointer focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">
                UPLOAD
            </button>
        </div>
    </form>
</app-custom-modal>
