<div class="adventures-container">
<!--    <div class="my-adventures-background">-->
<!--        <img class="zombie" [src]="'./assets/characters/Mummy.gif'" alt="zombie">-->
<!--        <img class="archer" [src]="'./assets/characters/Doctor_Perhaps.gif'" alt="zombie">-->
<!--        <img class="vampire" [src]="'./assets/characters/Zarabustor.gif'" alt="zombie">-->
<!--    </div>-->
<!--    <div class="my-adventures-grid">-->
<!--        <div class="col-line" [style.left]="'calc(' + 5 * i + 'vw - 1px)'"-->
<!--             *ngFor="let line of cellXRow; let i = index;"></div>-->
<!--        <div class="row-line" [style.top]="'calc(' + 5 * i + 'vw - 1px)'"-->
<!--             *ngFor="let line of cellXRow; let i = index;"></div>-->
<!--    </div>-->
    <router-outlet></router-outlet>
</div>
