@import "src/styles.scss";
@import "src/assets/animations/zombie-walk-animation.scss";

.test {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    position: relative;
    width: 100vw;
    height: 100vh;
}

.my-adventures-background {
    position: fixed;
    top: 0;
    left: 70px;
    z-index: 1;

    width: calc(100vw - 70px);
    height: 100vh;
    background-color: #16191D;
    background-image: url("/assets/patterns/old-mathematics.png");
    //background-size: cover;
    //background-position: center;

    .zombie {
        position: absolute;
        left: 1020px;
        top: 820px;

        height: 160px;
        width: 160px;
        transform: rotate(110deg);
        animation: zombie-walking 240s linear infinite;
    }
}
