<div class="border-circle-box">
    <div *ngIf="options.color !== 'transparent'" class="border-circle"
         (click)="isColorPickerStrokeDisplayed = !isColorPickerStrokeDisplayed">
        <div class="border-circle-color" [style.backgroundColor]="options.color">
            <div class="fake-center"></div>
        </div>
    </div>
    <div *ngIf="options.color === 'transparent'" class="no-border border-circle"
         (click)="isColorPickerStrokeDisplayed = !isColorPickerStrokeDisplayed">
    </div>
    <div *ngIf="isColorPickerStrokeDisplayed" class="floating-options">
        <mat-slider [min]="0" [max]="10" [tickInterval]="1" [value]="options.width"
                    (valueChange)="strokeWidthHasChanged($event)"></mat-slider>
        <app-color-circles-picker (colorChange)="colorHasChanged($event)"></app-color-circles-picker>
    </div>
</div>
