<div class="custom-list">
    <ng-container *ngIf="!items && items.length <= 0">
        <div class="flex items-center justify-content-center w-100 h-100" style="background: #f7f7f7;">
            <div class="text-lg font-medium text-gray-500">No items Found</div>
        </div>
    </ng-container>
    <ng-container *ngIf="items && items.length > 0">
        <div class="list-items" *ngIf="type === 'grid'">
            <div class="item rounded-sm ring-2 ring-gray-100 hover:ring-red-500" *ngFor="let item of items" (click)="selectItem(item)" [class.ring-red-500]="selectedItem === item">
                <img class="img rounded-sm" *ngIf="item.asset" [src]="item.asset.uri" loading="lazy">
                <img class="img rounded-sm" *ngIf="item.uri" [src]="item.uri" loading="lazy">
                <div *ngIf="editable" class="inline-flex items-center justify-center p-2 text-xs text-gray-500 bg-gray-100 rounded-sm hover:bg-red-500 hover:text-gray-50" style="position: absolute;left:0;top:0;" (click)="deleteItem(item)">
                    <i class="fa-regular fa-trash-can"></i>
                </div>
                <div class="name">{{item.name}}</div>
            </div>
        </div>
    </ng-container>
</div>
