.mini-menu-button {
    position: absolute;
    top: 6px;
    right: 6px;
    background: rgba(255, 255, 255, 0.3);
    padding: 0 6px;
    cursor: pointer;
    border-radius: 2px;
    filter: invert(100%);
}

.mini-menu {
    position: absolute;
    right: 0;
    top: 10px;
    background: #fff;
    border-radius: 4px;
    z-index: 9999;
}

:host ::ng-deep .menu-item {
    cursor: pointer;
    padding: 10px 20px;

    &:hover {
        background: rgba(0, 0, 0, 0.04);
    }
}

.mini-menu-out {
    position: fixed;
    z-index: 9990;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
