<div class="edit-game-box">
    <form class="edit-game-card card-roll" [formGroup]="gameForm" (submit)="acceptChanges()">
        <div class="header" *ngIf="loaded">
            <div class="exit">
                <svg (click)="closeEdit()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50.3 50.3">
                    <defs><style>.cls-1{fill:none;stroke-miterlimit:10;stroke-width:3px;}</style></defs>
                    <title>close</title>
                    <g id="Capa_2" data-name="Capa 2"><g id="Capa_1-2" data-name="Capa 1">
                        <circle class="cls-1" cx="25.15" cy="25.15" r="23.65"/>
                        <line class="cls-1" x1="16.79" y1="16.79" x2="33.51" y2="33.51"/>
                        <line class="cls-1" x1="16.79" y1="33.51" x2="33.51" y2="16.79"/>
                    </g></g>
                </svg>
            </div>
            <div class="title">{{newGame.name === 'My adventure rocks!' ? 'New adventure' : 'Edit adventure'}}</div>
        </div>
        <div class="body" *ngIf="loaded && newGame">
            <div class="form-text-input title">
                <label [for]="'title-game-' + newGame.id">Title</label>
                <input type="text" [id]="'title-game-' + newGame.id" maxlength="40" [formControlName]="'name'"/>
            </div>
            <div class="form-textarea">
                <label [for]="'description-game-' + newGame.id">Description</label>
                <textarea [id]="'description-game-' + newGame.id" maxlength="255" [formControlName]="'description'"></textarea>
            </div>
            <div class="form-input-dropdown">
                <label [for]="'gameType-game-' + newGame.id">Type</label>
                <select [id]="'gameType-game-' + newGame.id" [formControlName]="'gameType'">
                    <option *ngFor="let type of gameTypes" [value]="type">{{type}}</option>
                </select>
            </div>
            <div class="form-short-number-input n-players">
                <label [for]="'nPlayers-game-' + newGame.id">Number of players</label>
                <input type="number" [id]="'nPlayers-game-' + newGame.id" [formControlName]="'nPlayers'"/>
            </div>
            <div class="form-file-input cover-image">
                <label [for]="'cover-image-game-' + newGame.id">Cover</label>
                <label class="fake-input" [for]="'cover-image-game-' + newGame.id">
                    <span>{{newGame.image.name ? newGame.image.name : 'Select an image'}}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36.47 30.56">
                        <defs><style>.cls-1{fill:none;stroke-miterlimit:10;stroke-width: 1px}</style></defs>
                        <title>folder</title>
                        <g id="Capa_2" data-name="Capa 2"><g id="Capa_1-2" data-name="Capa 1">
                            <rect class="cls-1" x="0.5" y="6.41" width="35.47" height="23.65"/>
                            <path class="cls-1" d="M36,3.45v3H.5V.5H9.9l2.42,3Z"/>
                        </g></g>
                    </svg>
                </label>
                <input type="file" [id]="'cover-image-game-' + newGame.id"
                       [name]="'cover-image-game-' + newGame.id" (change)="imageChanged($event.target.files[0])"
                       [accept]="'image/jpeg, image/png'" [formControlName]="'imageCover'"/>
            </div>
            <div class="form-checkbox-input">
                <div class="fake-input">
                    <input type="checkbox" [id]="'publish-game-' + newGame.id"[formControlName]="'publish'"/>
                    <label [for]="'publish-game-' + newGame.id"></label>
                </div>
                <label class="text" [for]="'publish-game-' + newGame.id">Publish</label>
            </div>
        </div>
        <div class="footer" *ngIf="loaded">
            <div class="button-box">
                <button type="submit" class="big-button">Accept</button>
            </div>
        </div>
    </form>
</div>
