@import "src/styles.scss";
@import "src/assets/scss/form-inputs.scss";
@import "src/assets/scss/buttons.scss";

.box-shadow {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    background-color: rgba($c-blackest, 0.2);
}

.edit-game-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;

    width: 100%;
    height: 100%;

    letter-spacing: 1px;
}

.edit-game-card {
    position: relative;
    width: 30vw;
    border-radius: 8px;
    background-color: $c-whitest;
    animation: expand-card 1s;
    letter-spacing: 1px;
}

@keyframes expand-card {
    from {
        width: 20vw;
        height: 60vh;
    }
    to {
        width: 30vw;
        height: 70vh;
    }
}

.header {
    width: 100%;
    height: 100px;
    padding: 3% 3% 3% 5%;
    border-bottom: 2px solid $c-black;
    letter-spacing: 1px;

    .exit {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;

        width: 100%;
        height: 30px;
        cursor: pointer;

        svg {
            stroke: $c-black;
            height: 100%;

            &:hover {
                stroke: $c-black;
            }
        }
    }

    .title {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        width: 100%;
        height: 70px;
        padding-bottom: 5px;

        color: $c-black;
        font-size: 2.5vh;
        font-weight: 500;
    }
}


.body {
    width: 100%;
    padding: 5vh 4vw 0 4vw;
    letter-spacing: 1px;

    & > div {
        margin-bottom: 3vh;
    }
}

.footer {
    height: 100px;
    width: 100%;
    letter-spacing: 1px;

    .button-box {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        width: 100%;
    }
}
