<app-custom-modal [open]="true" (openChange)="closeDialog()" [type]="'medium'" [title]="newGame.name === 'My adventure rocks!' ? 'Create Game' : 'Edit Game'">
        <form class="body" *ngIf="newGame" [formGroup]="gameForm" (submit)="saveChanges()">
        <div class="image-container">
            <img src="../../../assets/backgrounds/menus/background-default-game.webp" *ngIf="!previewImage" class="grayscale">
            <img [src]="previewImage.reader" *ngIf="previewImage">
            <img [src]="game.coverImage.uri" *ngIf="!previewImage && game.coverImage.uri">
            <div class="centered">{{gameForm.get('name').value}}</div>
        </div>
        <ng-scrollbar class="create-game-form">
                <div class="title mb-4">
                    <label class="block mb-2 text-lg font-medium text-gray-50">Game name</label>
                    <input [formControlName]="'name'" type="text" maxlength="40" class="border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                </div>
                <div class="description mb-4">
                    <label class="block mb-2 text-lg font-medium text-gray-50">History introduction</label>
                    <textarea [formControlName]="'description'" type="text" maxlength="255" class="border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"></textarea>
                </div>
                <div  class="mb-4">
                    <label class="block mb-2 text-lg font-medium text-gray-50">Players number</label>
                    <input type="number" [formControlName]="'nPlayers'" maxlength="2" class="border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-20 text-center p-2.5"/>
                </div>
                <div class="mb-4">
                    <label class="block mb-2 text-lg font-medium text-gray-50">Image cover</label>
                    <upload-input (files)="imageChanged($event)" [multiple]="false" [maxFilesLimit]="1" (previewOutput)="previewImage = $event"></upload-input>
                </div>
                <div class="mb-4">
                    <label class="block mb-2 text-lg font-medium text-gray-50">Join game request permission</label>
                    <div class="form-row mb-4">
                        <div class="example">
                            <label class="radio-button cursor-pointer">
                              <input type="radio" class="radio-button__input" [id]="'publish-game-' + newGame.id" [formControlName]="'published'" [value]="true">
                              <span class="radio-button__control"></span>
                              <span class="radio-button__label">Public access</span>
                            </label>
                        </div>
                        <div class="example">
                            <label class="radio-button cursor-pointer">
                              <input type="radio" class="radio-button__input" [id]="'publish-game-' + newGame.id" [formControlName]="'published'" [value]="false" >
                              <span class="radio-button__control"></span>
                              <span class="radio-button__label">Private acces</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="flex justify-content-center align-items-center">
                    <button type="submit" class="focus:outline-none text-black bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-semibold rounded-md text-sm px-5 py-2.5 mr-2 mb-2">
                        {{newGame.name === 'My adventure rocks!' ? 'CREATE GAME' : 'EDIT GAME'}}</button>
                </div>
        </ng-scrollbar>
        </form>
</app-custom-modal>
