<div class="box-shadow"></div>
<div *ngIf="game && gameForm" class="edit-game-box">
    <form class="edit-game-card" [formGroup]="gameForm" (submit)="acceptChanges()">
        <div class="header" *ngIf="loaded">
            <div class="exit">
                <svg (click)="closeDialog()" width="26px" height="26px" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.7929 7.49998L1.14645 1.85353L1.85356 1.14642L7.50001 6.79287L13.1465 1.14642L13.8536 1.85353L8.20711 7.49998L13.8536 13.1464L13.1465 13.8535L7.50001 8.20708L1.85356 13.8535L1.14645 13.1464L6.7929 7.49998Z" />
                    <title>close</title>
                </svg>                    
            </div>
            <div class="title">{{newGame.name === 'My adventure rocks!' ? 'Create Game' : 'Edit Game'}}</div>
        </div>
        <div class="vertical-line"></div>
        <div class="body" *ngIf="loaded && newGame">
            <div class="image-container">
                <img src="../../../assets/backgrounds/library/petitCthulhu.png" alt="">
                <div class="centered">{{gameName}}</div>
            </div>
            <div class="create-game-form">
                <div class="title">
                    <label [for]="'title-game-' + newGame.id">Name</label>
                    <input [(ngModel)]="gameName" [id]="'title-game-' + newGame.id" maxlength="40" [formControlName]="'name'"/>
                </div>
                <div class="">
                    <label [for]="'description-game-' + newGame.id">History introduction</label>
                    <textarea [id]="'description-game-' + newGame.id" maxlength="255"
                            [formControlName]="'description'"></textarea>
                </div>
                <!-- <div class="form-input-dropdown">
                    <label [for]="'gameType-game-' + newGame.id">Type</label>
                    <select [id]="'gameType-game-' + newGame.id" [formControlName]="'gameType'">
                        <option *ngFor="let type of gameTypes" [value]="type">{{type}}</option>
                    </select>
                </div> -->
                <div  class="form-short-number n-players">
                    <label [for]="'nPlayers-game-' + newGame.id">Number of players</label>
                    <input type="number" [id]="'nPlayers-game-' + newGame.id" [formControlName]="'nPlayers'"/>
                </div>
    <!--            <div *ngIf="newGame?.coverImage?.uri" class="form-file-input cover-image">-->
    <!--                <label [for]="'cover-image-game-' + newGame.id">Cover</label>-->
    <!--                <label class="fake-input" [for]="'cover-image-game-' + newGame.id">-->
    <!--                    <span>{{newGame.image.name ? newGame.image.name : 'Select an image'}}</span>-->
    <!--                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36.47 30.56">-->
    <!--                        <defs><style>.cls-1{fill:none;stroke-miterlimit:10;stroke-width: 1px}</style></defs>-->
    <!--                        <title>folder</title>-->
    <!--                        <g id="Capa_2" data-name="Capa 2"><g id="Capa_1-2" data-name="Capa 1">-->
    <!--                            <rect class="cls-1" x="0.5" y="6.41" width="35.47" height="23.65"/>-->
    <!--                            <path class="cls-1" d="M36,3.45v3H.5V.5H9.9l2.42,3Z"/>-->
    <!--                        </g></g>-->
    <!--                    </svg>-->
    <!--                </label>-->
    <!--                <input type="file" [id]="'cover-image-game-' + newGame.id"-->
    <!--                       [name]="'cover-image-game-' + newGame.id" (change)="imageChanged($event.target.files[0])"-->
    <!--                       [accept]="'image/jpeg, image/png, image/webp, image/jpg'" [formControlName]="'imageCover'"/>-->
    <!--            </div>-->
                <div class="d-block">
                    <upload-input (file)="imageChanged($event)"></upload-input>
                </div>
                <label class="text" [for]="'publish-game-' + newGame.id">Join game request permission</label>
                <div class="form-row">
                    <!-- <div class="form-radio-input">
                        <label class="text" [for]="'publish-game-' + newGame.id">Join game request permission</label>
                        <div class="fake-input">
                            <input type="radio" [id]="'publish-game-' + newGame.id" [formControlName]="'publish'"/>
                            <label [for]="'publish-game-' + newGame.id"></label>
                        </div>
                    </div> -->
                    <div class="example">
                        <label class="radio-button">
                          <input type="radio" class="radio-button__input" id="choice1-1" name="choice1">
                          <span class="radio-button__control"></span>
                          <span class="radio-button__label">Public access</span>
                        </label>                    
                    </div>
                    <div class="example">
                        <label class="radio-button">
                          <input type="radio" class="radio-button__input" id="choice1-1" name="choice1">
                          <span class="radio-button__control"></span>
                          <span class="radio-button__label">Private acces</span>
                        </label>               
                    </div>
                </div>
                <div class="footer" *ngIf="loaded">
                    <div class="button-box">
                        <button type="submit" class="big-button">CREATE GAME</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
