@import "src/styles.scss";
@import "src/assets/scss/form-inputs.scss";
@import "src/assets/scss/buttons.scss";

*{
    color: $c-white !important;
}
input, select, textarea{
    font-size: 16px;
    background-color: $c-white !important;
    color: $c-black !important;
    border: none;
    overflow: auto;
    outline: none;

    width: 100%;
    height: 43px;

}

textarea{

    padding: 10px 20px;
    height: 80px;

}


label, .form-short-number-input label{
    font-size: 18px;
    padding: 10px 0px 10px;
    font-weight: 400;
    line-height: 22px;
}
 
.form-short-number input{
    width: 50px;
    padding: 3px;
    text-align: center;
}

.form-row{
    justify-content: space-between;
}

.box-shadow {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    background-color: rgba($c-blackest, 0.2);
}

.edit-game-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;

    width: 100%;
    height: 100%;

    letter-spacing: 1px;
}

.edit-game-card {
    position: relative;
    width: 1098px;
    height: 754px;
    border-radius: 8px;
    background-color: #101010;
    color: $c-white;
    animation: expand-card 0.5s;
    letter-spacing: 1px;
}

@keyframes expand-card {
    from {
        transform: translateY(-110%);
    }
    to {
        transform: translateY(0%);
    }
}

.header {
    width: 100%;
    height: 90px;
    padding: 20px 20px 20px 50px;
    letter-spacing: 1px;

    .exit {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;

        width: 100%;
        height: 30px;
        cursor: pointer;

        svg {
            stroke: $c-white;
            height: 100%;

            &:hover {
                stroke: $c-white;
            }
        }
    }

    .title {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        font-size: 24px;
        font-weight: 600;
    }
}

.body{

    display: flex;
    justify-content: space-around;
    padding: 0px 50px;
}

.vertical-line {
    border-left: 1px solid #191919;
    height: 630px;
    position: absolute;
    left: 383px;
    top: 70px;
  }
.image-container{
    position: relative;
    text-align: center;
    color: $c-white;
    width: 472px; 
    height: 570px;

    img{

        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    .centered {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-shadow: 2px 2px 4px 0px #101010;
        font-weight: 500;
        line-height: 71px;
        font-size: 48px;
        
    }
}
.create-game-form {

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    height: calc(70vh - 23px);
    width: 100%;
    padding: 0 90px;
    letter-spacing: 1px;

    overflow-y: auto;

    & > div {
        margin-bottom: 2vh;
    }
}

.footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    height: 100px;
    width: 100%;
    letter-spacing: 1px;

    .button-box {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        width: 100%;
    }
    .big-button{
        background-color: #CFB525;
        color: $c-black !important;

        width: 202px;
        height: 34px;
        border-radius: 8px;
    }

    button[disabled]{
       background-color: $c-black-grey;
    }
}

  
.radio-button {
    cursor: pointer;
}
  
input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
  
input {
    font-size: 1rem;
    line-height: 1.5;
    padding: 11px 23px;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0;
    outline: 0;
    background-color: transparent;
}
  
.radio-button__input {
    opacity: 0;
    position: absolute;
}
  
.radio-button__control {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 12px;
    vertical-align: middle;
    background-color: inherit;
    color: $c-white;
    border: 2px solid $c-white;
}
  
.radio-button__input:checked+.radio-button__control:after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 4px;
    width: 23px;
    height: 25px;
    background-color: $c-white;

}
  
.radio-button__input:checked+.radio-button__control {
    border-color: $c-white;
}

.radio-button__control {
    transform: scale(0.75);
}
