@import "../../../../colors";

.list-items{
    display: flex;
    flex-direction: column;

    position: relative;
    width: 100%;

    .add-map {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;

        width: 100%;
        margin-bottom: 0.5rem;
        padding: 0.5rem 0.5rem 0 2rem;

        img {
            cursor: pointer;
        }
    }

    .item{
        display: flex;
        align-items: center;

        position: relative;
        height: 40px;
        padding: 0.5rem 0.5rem 0.5rem 2rem;

        color: $notSoWhite;
        text-transform: capitalize;
        cursor: pointer;

        &:hover{
            background-color: rgba($littleGrey, 0.5);
        }
    }

    .selected-item {
        background-color: $littleGrey;
    }
}

.data-image-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;

    width: 100%;

    .data-as-image {
        width: 40%;
        padding: 5px;

        span {
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        img {
            width: 100%;
        }
    }
}
