<div class="card-post card-vertical text-white" *ngIf="post">
    <div class="card-post-header">
      <a [href]="postLink">
        <app-asset [src]="post.coverImage" [alt]="post.title"></app-asset>
      </a>
    </div>
    <div class="card-post-body">
      <h2 class="card-post-title fs-5">
        <a [href]="postLink">{{post.title}}</a>
      </h2>
      <div class="card-post-description">
        <a [href]="postLink" [innerHTML]="post.description"></a>
      </div>
      <div class="card-post-footer">
        <div><a class="especial-link me-1" [href]="'/'+post.type">{{post.type}}</a><span class="text-mediumgrey card-post-date"> / {{post.createdAt | date: 'd MMMM yyyy'}}</span></div>
        <a class="btn btn-sm btn-danger" [href]="postLink">ver más</a>
      </div>
    </div>
</div>
