<!--TABS 0-->
<div class="content-container">

    <app-map-edit *ngIf="currentMap && tabs === 0 && displayed"
                  [map]="currentMap"
                  (mapModification)="editMap($event)"></app-map-edit>

    <!--  TABS 0  -->
    <div *ngIf="tabs === 0" style="position:relative;">
        <div class="maps-container" dragula="MAPS" [dragulaModel]="maps" (dragulaModelChange)="onDragulaMapsChange($event)">
            <div class="map-box"
                 (mouseleave)="openMapOption = null"
                 *ngFor="let map of maps; let i = index;"
                 [ngClass]="{'selected-map-box' : currentMap === map}"
                 (click)="onSelectMap(map, $event)">

                <div class="map">
                    <app-mini-map *ngIf="map" [map]="map"></app-mini-map>
                    <div class="map-name">
                        <div class="tag" *ngIf="!isEditNameDisplayed || isEditNameDisplayed !== map.id"
                             (dblclick)="isEditNameDisplayed = map.id">
                            {{map?.name}}
                        </div>
                        <input type="text" class="form-text-search tag" *ngIf="isEditNameDisplayed === map.id"
                           [(ngModel)]="map.name"
                           (keyup.enter)="saveNewMapName(map)"
                           (blur)="saveNewMapName(map)">
                    </div>
                    <app-mini-menu>
                        <div class="menu-item" (click)="deleteMap(map, $event)">Delete</div>
                    </app-mini-menu>
                </div>
            </div>
        </div>
        <!-- ADD NEW -->
        <div class="add-control">
            <img style="margin-left: 20px;" class="cursor-pointer" width="20px" src="assets/svg/add.svg" alt="add" (click)="createMap()">
        </div>
    </div>


    <!--   TABS 1   -->
    <div *ngIf="tabs === 1">
        <app-objects-list [objects]="currentMap.objects"></app-objects-list>
    </div>

    <!--   TABS 2   -->
    <div *ngIf="tabs === 2">
        <app-assets-list></app-assets-list>
    </div>

    <!--   TABS 3   -->
    <div *ngIf="tabs === 3">
        <app-cameras-list [cameras]="null"></app-cameras-list>
    </div>
</div>

<!-- FOOTER -->
<div class="footer-tabs">
    <div class="tab" [class.active]="tabs === 0" (click)="tabs = 0;tabsChange.emit(tabs)">
        <img height="25px" src="assets/icons/layout.png" alt="layout">
    </div>
    <div class="tab" [class.active]="tabs === 1" (click)="tabs = 1;tabsChange.emit(tabs)">
        <img height="25px" src="assets/icons/object.png" alt="objects">
    </div>
    <div class="tab" [class.active]="tabs === 2" (click)="tabs = 2;tabsChange.emit(tabs)">
        <img height="25px" src="assets/icons/gallery.png" alt="assets">
    </div>
    <div class="tab" [class.active]="tabs === 3" (click)="tabs = 3;tabsChange.emit(tabs)">
        <img height="25px" src="assets/icons/camera.png" alt="camera">
    </div>
</div>
