<!-- <ng-container>
    <div class="list-title">
        <i class="fas fa-chevron-down cursor-pointer"></i>
        <div class="title">Maps</div>
        <i class="fas fa-plus cursor-pointer" (click)="showNewMapForm = true; this.currentMap = null;"></i>
    </div>
    <div class="content-list"> -->
<!-- <div class="content-list page-list recursive-list" dragula="MAPS" [(dragulaModel)]="maps">-->
<!--                <div class="item" *ngFor="let map of maps;let i = index;" (click)="onSelectMap($event, map)" [class.open]="currentMap === map">-->
<!--                    <div class="item-name">-->
<!--                        <div (click)="openListItem($event, map);">-->
<!--                            <i class="fas fa-chevron-right item-icon" *ngIf="map.objects && map.objects.length > 0"></i>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <img class="item-icon" style="width: 20px;" src="src/assets/icons/fabric-color.svg" alt="map-icon">-->
<!--                        </div>-->
<!--                        <div>{{map.name}}</div>-->
<!--                        <span class="item-tools">-->
<!--                            <i class="fas fa-pen"></i>-->
<!--                            <i class="fas fa-trash"></i>-->
<!--                        </span>-->
<!--                    </div>-->
<!--                    <div [style.padding-inline-start.rem]="i + 1">-->
<!--                        <app-recursive-list [list]="map.objects"></app-recursive-list>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div> -->
<!-- <div *ngIf="maps && maps.length > 0" dragula="MAPS" [(dragulaModel)]="maps">
            <div class="item" [class.open]="currentMap === map" *ngFor="let map of maps;let i = index;" (click)="onSelectMap($event, map)">
                <div class="map-objects">
                    <div class="item-name">
                        <span>{{map.name}}</span> -->
<!--                        <i class="fas fa-street-view" style="color: lightgreen;" *ngIf="map.toPlayers"></i>-->
<!-- <span class="item-tools"> -->
<!--                            <i class="fas fa-male" (click)="toPlayersMap(map)"></i>-->
<!-- <i class="fas fa-pen" (click)="renameMap(map)"></i>
                            <i class="fas fa-trash" (click)="removeMap(map)"></i>
                        </span>
                    </div>
                </div> -->
<!--                <app-recursive-list [list]="map.objects"></app-recursive-list>-->
<!-- </div>
        </div>
    </div>

</ng-container> -->
<div class="sidebar box-shadow" [class.open]="open" [ngStyle]="{width: open ? '340px' : '0'}">
    <ng-container *ngIf="open">
        <div class="sidebar-header">
            <h2>MAPS</h2>
            <img style="width:20px;height:20px;" class="cursor-pointer"
                 (click)="open = !open; openChange.emit(open); openOption = null" src="/assets/svg/close.svg">
        </div>
        <div class="sidebar-body">
            <div class="list-container">
                <div class="item" *ngFor="let map of maps; let i = index;" [class.active]="currentMap === map" (click)="onSelectMap($event, map)">
                    <span>{{map.name}}</span>
                    <span class="item-icon">
                        <img style="width: 16px;" src="assets/icons/points.png" alt="options" (click)="toggleOpenOption(i)">
                        <div class="item-options box-shadow" *ngIf="openOption === i">
                            <div class="item" (click)="openUpdateMapModal(map)">Rename</div>
                            <div class="item" (click)="deleteMap(map)">Delete</div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <div class="sidebar-footer">
            <img style="width:20px;height:20px;" class="cursor-pointer" src="/assets/svg/add.svg" (click)="openModal = true">
        </div>
    </ng-container>
</div>

<app-modal-custom [(open)]="openModal">
    <form [formGroup]="isUpdateMap ? updateMapForm : newMapForm" (submit)="submitMapForm()">
        <div class="item active">
            <div class="form-text-input">
                <label for="map-name">Map Name</label>
                <input type="text" id="map-name" placeholder="Map Name" autofocus [formControlName]="'name'">
            </div>
            <div class="form-number-input">
                <label for="n-rows">ROWS</label>
                <input type="number" id="n-rows" [formControlName]="'nRows'" placeholder="50">
            </div>
            <div class="form-number-input">
                <label for="n-columns">COLS</label>
                <input type="number" id="n-columns" [formControlName]="'nColumns'" placeholder="50">
            </div>
            <button type="submit" class="big-button">Ok</button>
            <button type="submit" class="big-button" (click)="openModal = false">Cancel</button>
        </div>
    </form>
</app-modal-custom>
