@import "src/styles.scss";

.content-container{
    height: calc(100vh - 180px);
    overflow: hidden;
}

.tabs-line {
    top: -1px;
    height: 2px;
    width: 100%;
    transform: translateY(1px);
    background: rgba(235, 235, 239, 1);
    position: absolute;
}

.maps-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    //justify-content: flex-start;
    //align-items: center;
    overflow: hidden;
    overflow-y: scroll;
    height: calc(100vh - 180px);
    padding-bottom: 50px;

    width: 100%;
}

.item {
    position: relative;
    height: 48px;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover {
        background: rgba(0, 0, 0, 0.04);
    }

    .item-content {
        height: 100%;
        width: 100%;
        padding-left: 24px;
        padding-right: 24px;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 20px;
        grid-template-rows: 1fr;
    }

    .item-options {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        position: fixed;
        transform: translate(48px, -30px);
        width: auto;
        height: auto;
        background: white;
        border-radius: 4px;
        z-index: 90;

        .item {
            padding: 0 20px;
            width: 100%;
            height: 48px;
        }
    }
}
.footer-tabs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    height: 46px;

    .tab {
        width: 100%;
        height: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            background: rgba(0, 0, 0, 0.04);
        }

        &.active {
            border-top: 2px solid #00bcd4;
        }
    }
}

.add-control {
    position: absolute;
    left:0;
    right:0;
    bottom: 0;
    padding: 8px 0;
    background: #fff;
    height: 35px;
}


// _________________ MAP BOX ____________________
.map-box {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 200px;
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.025);
        .tag {
            background-color: rgba($c-black, 0.7) !important;
        }
    }
}

.selected-map-box {
    background-color: rgba(0, 0, 0, 0.025);
    border: 1px dashed black;
    .tag {
        background-color: rgba($c-black, 0.7) !important;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.025);
    }
}

.map {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;

    width: 84%;
    height: 160px;
    border: 1px solid #e4e4e4;

    &:hover {

        .map-options {
            opacity: 1;
        }
    }

    .map-name {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-end;
        position: absolute;
        bottom: 0;

        width: 100%;
        height: 50px;

        .tag {
            margin: 5px;
            padding: 5px 15px;
            border-radius: 2px;
            background-color: rgba($c-black, 0.4);
            color: $c-whitest;
        }
    }
}
