@import "src/styles.scss";

#mapnull {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.my-adventures-box {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100vw;
    height: 100vh;
}

.my-adventures-title {
    margin-top: 50px;
    width: 100%;

    color: #f2f2f2;
    font-family: $oswald;
    font-size: 48px;
    font-weight: 400;
    line-height: 71px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 0 0 18px rgba(#f2f2f2,0.5), 0 0 10px rgba(#f2f2f2,0.22);
}

.new-adventure {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-start;

    height: 43px;
    width: 100%;
    margin: 50px 0 0 0;

    button {
        width: 137px;
        height: 42.56px;
        background: #f2f2f2;
        border: none;

        color: #111316;
        font-family: $oswald;
        font-size: 18px;
        font-weight: 700;
        line-height: 27px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
}

.adventures-grid {
    margin-top: 30px;
}

.each-adventure {
    position: relative;
    height: 350px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    .inside-data-box {
        display: none;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-end;

        position: relative;
        width: 100%;
        height: 100%;
        padding-top: 40px;
        padding-bottom: 30px;
        background-color: rgba(#262A31, 0.5);
        border: 3px solid #FA2B3F;
        box-shadow: 0 0 15px #fa2b3f;
        cursor: pointer;
    }

    &:hover {
        box-shadow: none;

        .inside-data-box {
            display: flex;
        }
    }

    .display-options {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        position: relative;
        width: 100%;
        height: 100%;
        padding-top: 40px;
        padding-bottom: 30px;
        background-color: rgba(#262A31, 0.5);

        .display-options-header {
            position: absolute;
            right: 13px;
            top: 13px;

            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            width: 40px;
            height: 40px;

            svg {
                width: 25px;
            }
        }

        .display-option {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 40px;
            cursor: pointer;

            font-size: 18px;
            font-weight: bold;
            color: #f2f2f2;
        }
    }
}

.selected-image-header {
    position: absolute;
    top: 20px;
    left: 20px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    width: 200px;
    color: white;

    .master {
        width: 25px;
        height: 30px;
        margin: 0 8px 5px 0;

        svg {
            fill: gold;
        }
    }

    .n-players {
        position: relative;
        fill: #FA2B3F;
        width: 20px;
        height: 28px;
        margin: 0 8px 5px 0;

        .number {
            font-size: 12px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            padding: 4px;

            position: absolute;
            top: -10px;
            left: 15px;

            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: #FA2B3F;
        }
    }
}

.cover-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}

.more-options {
    position: absolute;
    right: 10px;
    top: 10px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    width: 40px;
    height: 40px;

    .gear {
        height: 25px;
    }

    //.dot-box {
    //    display: flex;
    //    flex-flow: column nowrap;
    //    justify-content: space-between;
    //    align-content: flex-start;
    //
    //    position: relative;
    //    height: 25px;
    //
    //    .dot {
    //        width: 5px;
    //        height: 5px;
    //        border-radius: 50%;
    //        background-color: #DBDBDB;
    //    }
    //}

    .options {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-content: flex-start;

        position: relative;
        padding: 0 10px;

        .option {
            width: 70px;
            padding: 5px 10px;
            background-color: #DBDBDB;

            &:hover {
                background-color: #F2F2F2;
            }
        }
    }
}

.adventure-title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    position: absolute;
    bottom: -1px;
    left: -1px;

    width: 202px;
    height: 61px;
    padding-left: 10px;
    background: #fa2b3f;
    overflow: hidden;

    color: #f2f2f2;
    font-family: $oswald;
    font-size: 20px;
    font-weight: bold;
    line-height: 36px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.adventure-description {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    height: 160px;
    overflow: hidden;

    font-size: 16px;
    font-weight: normal;
    color: #f2f2f2;
}

.display-options {

}

//.background-image-box {
//    position: absolute;
//    top: 0;
//    left: 0;
//    z-index: 0;
//
//    width: 100%;
//    height: 100%;
//    background-color: #262A31;
//    overflow: hidden;
//}
//
//.background {
//    width: 100%;
//    height: 100%;
//    background-image: url('../../../../assets/svg/logo-red-white.svg');
//    background-position: center; /* Center the image */
//    background-repeat: no-repeat; /* Do not repeat the image */
//    background-size: 40%; /* Resize the background image to cover the entire container */
//    filter: brightness(60%) blur(10px);
//    transform: scale(1.03);
//}
//
//.background-image {
//    background-image: url('../../../../assets/svg/logo-red-white.svg');
//    background-position: center; /* Center the image */
//    background-repeat: no-repeat; /* Do not repeat the image */
//    background-size: 100%; /* Resize the background image to cover the entire container */
//    filter: brightness(40%) blur(10px);
//    transform: scale(1.03);
//}
//
//.carrousel-box {
//    display: flex;
//    flex-flow: row nowrap;
//    justify-content: center;
//    align-items: center;
//
//    position: relative;
//    width: 100%;
//    height: 100%;
//}
//
//app-images-carrousel {
//    width: 80%;
//    height: 100%;
//}
//
//.selected-image-data-box {
//    display: flex;
//    flex-flow: row nowrap;
//    justify-content: center;
//    align-items: center;
//
//    position: absolute;
//    top: 0;
//    left: 0;
//    z-index: 10;
//
//    width: 100%;
//    height: 100%;
//}
//
//.selected-image-data {
//    display: flex;
//    flex-flow: column nowrap;
//    justify-content: flex-start;
//    align-items: center;
//
//    position: relative;
//    width: 30vw;
//    height: 70vh;
//
//    //border: 10px solid transparent;
//    //border-image-source: url('../../../../assets/character-sheet/proficiencies-and-languages.png');
//    //border-image-repeat: round;
//    //border-image-slice: 30;
//}
//
//.selected-image-header {
//    display: flex;
//    flex-flow: row nowrap;
//    justify-content: flex-start;
//    align-items: flex-end;
//
//    height: 5vh;
//    width: 20vw;
//    color: white;
//
//    .master {
//        width: 7%;
//        height: 30px;
//        margin: 0 8px 5px 0;
//
//        svg {
//            fill: gold;
//        }
//    }
//
//    .n-players {
//        position: relative;
//        fill: #FA2B3F;
//        width: 5%;
//        height: 28px;
//        margin: 0 8px 5px 0;
//
//        .number {
//            display: flex;
//            flex-flow: row nowrap;
//            justify-content: center;
//            align-items: center;
//
//            position: absolute;
//            top: 0;
//            right: -12px;
//
//            width: 16px;
//            height: 16px;
//            border-radius: 50%;
//            background-color: #FA2B3F;
//        }
//    }
//}
//
//.selected-image-box {
//    width: 20vw;
//    height: 35vh;
//    cursor: pointer;
//}
//
//.more-options {
//    position: absolute;
//    left: 25.5vw;
//    top: 6vh;
//
//    display: flex;
//    flex-flow: row nowrap;
//    justify-content: flex-start;
//    align-content: flex-start;
//    cursor: pointer;
//
//    .dot-box {
//        display: flex;
//        flex-flow: column nowrap;
//        justify-content: space-between;
//        align-content: flex-start;
//
//        position: relative;
//        height: 25px;
//
//        .dot {
//            width: 5px;
//            height: 5px;
//            border-radius: 50%;
//            background-color: #DBDBDB;
//        }
//    }
//
//    .options {
//        display: flex;
//        flex-flow: column nowrap;
//        justify-content: space-between;
//        align-content: flex-start;
//
//        position: relative;
//        padding: 0 10px;
//
//        .option {
//            width: 70px;
//            padding: 5px 10px;
//            background-color: #DBDBDB;
//
//            &:hover {
//                background-color: #F2F2F2;
//            }
//        }
//    }
//}
//
//.selected-image-title {
//    height: 8vh;
//    width: 30vw;
//    cursor: pointer;
//
//    color: #EAEAEA;
//    font-size: 2vw;
//    font-weight: bold;
//    text-transform: uppercase;
//    letter-spacing: 2px;
//}
//
//.selected-image-description {
//    height: 10vh;
//    width: 30vw;
//    border-top: 3px solid #EAEAEA;
//    padding-top: 25px;
//    cursor: pointer;
//
//    color: #EAEAEA;
//    font-size: 1vw;
//    font-weight: 500;
//    letter-spacing: 2px;
//    line-height: 1.3em;
//}
//
//.new-game-interface {
//    display: flex;
//    flex-flow: column nowrap;
//    justify-content: center;
//    align-items: center;
//
//    position: relative;
//    width: 30vw;
//    height: 70vh;
//}
//
//.click-interface {
//    position: absolute;
//    width: 20vw;
//    height: 60vh;
//
//    z-index: 3;
//    cursor: pointer;
//}
//
//.click-interface-image {
//    position: absolute;
//    top: 20vh;
//    width: 20vw;
//    height: 60vh;
//
//    z-index: 3;
//    cursor: pointer;
//}
