<div style="position: relative;">
    <div class="cameras-list">
        <div class="item" *ngFor="let camera of cameras">
            <div class="preview">
                <div class="preview-name">{{camera.name}}</div>
                <app-mini-menu>
                    <div class="menu-item" (click)="rename(camera, $event)">Rename</div>
                    <div class="menu-item" (click)="delete(camera, $event)">Delete</div>
                </app-mini-menu>
            </div>
        </div>
    </div>
    <div class="add-control">
        <img class="cursor-pointer m-[20px]" width="20px" src="assets/svg/add.svg" alt="add" (click)="createCamera()">
    </div>
</div>

