<div class="nav-bar-box">
    <div class="left-side">
        <div class="option">
            <img class="logo" src="assets/logo.png" alt="logo"/>
        </div>
        <div class="option">Juego</div>
        <div class="option">Noticias</div>
        <div class="option">Actualizaciones</div>
        <div class="option">Tienda</div>
        <div class="option">Asistencia</div>
    </div>
    <div class="right-side">
        <div class="option">
            <div class="play-button">Play</div>
        </div>
    </div>
</div>
