<div class="nav-bar-box">
    <div class="left-side">
        <div class="option">
            <img class="logo" src="assets/logo.png" alt="logo"/>
        </div>
<!--        <div class="option"><span>Juego</span></div>-->
<!--        <div class="option"><span>Noticias</span></div>-->
<!--        <div class="option"><span>Actualizaciones</span></div>-->
<!--        <div class="option"><span>Tienda</span></div>-->
<!--        <div class="option"><span>Asistencia</span></div>-->
    </div>
    <div class="right-side">
        <div class="option">
            <a class="play-button" [routerLink]="'/game/menu'">Play</a>
        </div>
    </div>
</div>
