@import 'src/styles.scss';

.floating-bar-box {
    position: absolute;
    top: 0;
    left: 350px;
    z-index: 9999;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    background-color: $c-whitest;
    border-radius: 4px;
    box-shadow: 0 4px 16px rgb($c-black, 12%);
}

.properties-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    padding: 0 10px;
}

.divider {
    width: 1px;
    height: 30px;
    background-color: $c-white;
    margin: 0 10px;
}
