<div *ngIf="map" class="floating-bar-box">
    <div class="properties-box">
        <app-fill-color [matTooltip]="'Background color'" [matTooltipShowDelay]="1000" [matTooltipPosition]="'above'"
                        [color]="map.backgroundColor" (colorChange)="backgroundModified($event)">
        </app-fill-color>
        <div class="divider"></div>
        <app-number-input [matTooltip]="'Cell size'" [matTooltipShowDelay]="1000" [matTooltipPosition]="'above'"
                          [nValue]="map.grid.cellSize"
                          (nValueChange)="cellSizeModified($event)">
        </app-number-input>
        <app-stroke-color [matTooltip]="'Grid line'" [matTooltipShowDelay]="1000" [matTooltipPosition]="'above'"
                          [options]="{color: map.grid.stroke, width: map.grid.strokeSize}"
                          (optionsChange)="strokeModified($event)">
        </app-stroke-color>
    </div>
</div>
