<div class="content-container">
    <div class="position-relative">
        <div class="library-list" *ngIf="!currentCategory">
            <div class="category-item" (click)="selectCategory('CHARACTERS')">
                <span class="title">CHARACTERS</span>
                <img class="bg" src="assets/backgrounds/library/characters-bg.webp">
            </div>
            <div class="category-item" (click)="selectCategory('MONSTERS')">
                <span class="title">MONSTERS</span>
                <img class="bg" src="assets/backgrounds/library/monsters-bg.webp">
            </div>
            <div class="category-item" (click)="selectCategory('NPCs')">
                <span class="title">NPCs</span>
                <img class="bg" src="assets/backgrounds/library/npcs-bg.webp">
            </div>
            <div class="category-item" (click)="selectCategory('OBJECTS')">
                <span class="title">OBJECTS</span>
                <img class="bg" src="assets/backgrounds/library/objects-bg.webp">
            </div>
            <div class="category-item" (click)="selectCategory('SPELLS')">
                <span class="title">SPELLS</span>
                <img class="bg" src="assets/backgrounds/library/spells-bg.webp">
            </div>
            <div class="category-item" (click)="selectCategory('PETS')">
                <span class="title">PETS</span>
                <img class="bg" src="assets/backgrounds/library/pets-bg.webp">
            </div>
        </div>
        <div class="library-content" *ngIf="currentCategory">
            <div class="category-header">
                <div class="category-header-icon" (click)="currentCategory = null">
                    <img src="assets/svg/arrow-left.svg" alt="back">
                </div>
                <div class="category-header-name">{{currentCategory}}</div>
            </div>
            <div class="category-body">
                <div class="list">
                    <div class="item" *ngFor="let item of [0,1,2,3,4,5]">test {{item}}</div>
                </div>
                <div class="list-add">
                    <img src="assets/svg/add.svg" alt="add" style="width: 20px;" (click)="onAddItem()">
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal-custom [(open)]="modalNewCategoryItem">
    <div style="width: 550px;">
        <app-custom-wizard-actor></app-custom-wizard-actor>
    </div>
</app-modal-custom>
