//.category-item {
//    position: relative;
//    height: 100%;
//    cursor: pointer;
//    display: flex;
//    align-items: center;
//    justify-items: center;
//
//    padding-left: 24px;
//    padding-right: 24px;
//    font-size: 14px;
//    overflow: hidden;
//
//    &:hover {
//        background: rgba(0, 0, 0, 0.04);
//    }
//
//    .title {
//        color: #FFF;
//        z-index: 1;
//        font-size: 20px;
//    }
//    .bg {
//        position: absolute;
//        top:0;
//        left:0;
//        right:0;
//        width: 100%;
//        height: 100%;
//        object-fit: cover;
//    }
//}
//
//.category-header {
//    display: grid;
//    grid-template-columns: 50px 1fr;
//
//    .category-header-icon {
//        display: flex;
//        align-items: center;
//        justify-content: center;
//        width: 100%;
//        height: 100%;
//        cursor: pointer;
//        transition: all 0.2s ease-in-out;
//    }
//    .category-header-name {
//        display: flex;
//        align-items: center;
//        justify-items: center;
//        width: 100%;
//        height: 100%;
//        transition: all 0.2s ease-in-out;
//    }
//}

.footer-tabs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    height: 46px;

    .tab {
        width: 100%;
        height: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            background: rgba(0, 0, 0, 0.04);
        }

        &.active {
            border-top: 2px solid #00bcd4;
        }
    }
}
