<div class="content-container">
    <div class="position-relative">
        <div class="library-list">
            <div class="category-item">
                <span class="title">CHARACTERS</span>
                <img class="bg" src="assets/backgrounds/library/characters-bg.webp">
            </div>
            <div class="category-item">
                <span class="title">MONSTERS</span>
                <img class="bg" src="assets/backgrounds/library/monsters-bg.webp">
            </div>
            <div class="category-item">
                <span class="title">NPCs</span>
                <img class="bg" src="assets/backgrounds/library/npcs-bg.webp">
            </div>
            <div class="category-item">
                <span class="title">OBJECTS</span>
                <img class="bg" src="assets/backgrounds/library/objects-bg.webp">
            </div>
            <div class="category-item">
                <span class="title">SPELLS</span>
                <img class="bg" src="assets/backgrounds/library/spells-bg.webp">
            </div>
            <div class="category-item">
                <span class="title">PETS</span>
                <img class="bg" src="assets/backgrounds/library/pets-bg.webp">
            </div>
        </div>
    </div>
</div>
