@import "src/styles.scss";

.dialog-wrapper {
    max-width: 500px;
    background-color: $c-whitest;
    padding: 0 30px 30px 30px;
}

.close-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    padding: 15px 0 0 0;
}

.close-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;

    color: $c-white;
    font-size: 18px;

    &:hover {
        background-color: grey;
    }
}

.error-number {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    padding: 20px 0 30px 0;

    font-size: 50px;
    font-weight: bolder;
    letter-spacing: 5px;
    color: black;
}


.error-message {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    color: black;
}
