$mainBackground: #262626;
$mainForeground: rgba(0,0,0,0.6);
$columnsBorderColor: #000;

.map-editor{
  position: absolute;
  top:0;
  right:0;
  left:0;
  bottom: 0;
  background: $mainBackground;
  overflow: hidden;
}
.top-column{
  position: relative;
  top:0;
  left:0;
  right:0;
  height: 50px;
  border-bottom: 1px solid $columnsBorderColor;
  background: $columnsBorderColor;
}
.right-column{
  position: absolute;
  top:0;
  right:0;
  width: 280px;
  height: 100%;
  border-left: 1px solid $columnsBorderColor;
  background: $mainForeground;
  overflow: hidden;
  z-index: 90;
}
.left-column{
  position: absolute;
  top:0;
  left:0;
  width: 280px;
  height: 100%;
  background: $mainForeground;
  z-index: 90;

  .left-column-tools {
    position: absolute;
    width: 50px;
    top:0;
    right: -50px;
    height: 100%;
    border-left: 1px solid $columnsBorderColor;
    border-right: 1px solid $columnsBorderColor;
    background: $mainForeground;
  }
}
.map-container{
  background: #262626;
  position: absolute;
  top: 0;
  left:0 ;
  right: 0;
  bottom: 0;
  overflow: auto;
}

// MAP
.map{
 position: absolute;
}

