<div class="properties-title-box">
    <div class="properties-title">Brush settings</div>
</div>
<div class="properties-box">
    <div class="properties-row">
        <input type="color" name="favcolor" [ngModel]="brush.color" (ngModelChange)="colorModified($event)">
        <div class="title">Color</div>
    </div>
    <div class="properties-row">
        <div class="title">Size</div>
        <input type="number" [ngModel]="brush.brushSize" (ngModelChange)="sizeModified($event)" min="1" max="100"/>
        <div class="measure">px</div>
    </div>
</div>

