<app-nav-bar></app-nav-bar>
<div class="display-block">
    <div class="background-blurred-box">
        <div class="background-blurred"></div>
    </div>
    <div class="display"></div>
    <div class="display-border"></div>
    <div class="play-button-box">
        <button (click)="play()" class="play-button">Play</button>
        <div class="play-button-border"></div>
    </div>
    <div class="display-bottom"></div>
</div>

<div class="box" style="position:relative;top:0;left:0;">
    <h2>ROLL YOUR DICE</h2>
    <ul>
        <li>
            <a [routerLink]="'/game-editor'">GO to editor</a>
        </li>
        <li>
            <a [routerLink]="'/character-sheet'">GO to character-sheet</a>
        </li>
        <li>
            <a [routerLink]="'/sign'">Sign-in</a>
        </li>
        <li>
            <a (click)="logout()" href="javascript:void(0)">Logout</a>
        </li>
    </ul>
</div>

<div class="box">
    <h2>LAST GAMES</h2>
    <div>
        <button><a [routerLink]="'/adventures/my-adventures'">My Games</a></button>
        <button><a [routerLink]="'/adventures/new'">Create new Game</a></button>
        <button><a [routerLink]="'/adventures/search'">Join a game</a></button>
    </div>
</div>
