@import "src/styles.scss";

.map-container{
    position: absolute;
    top: 0;
    left:0 ;
    right: 0;
    bottom: 0;
    overflow: auto;
}
// MAP
.mapbox-details{
    position: absolute;
    top: -20px;
    font-size: 13px;
    color: #fff;

    .mapbox-details-columns{
        color: #607d8b;
    }
}
