@import 'src/styles.scss';

.properties-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    padding: 0 10px;
}

.divider {
    width: 1px;
    height: 30px;
    background-color: $c-white-grey;
    margin: 0 10px;
}
