@import "src/styles.scss";
@import "src/assets/scss/form-inputs.scss";
@import "src/assets/scss/buttons.scss";

*{
    color: $c-white;
}
.box-shadow {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    background-color: rgba($c-blackest, 0.2);
}

.user-list-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;

    width: 100%;
    height: 100%;

    letter-spacing: 1px;
}

.user-list-card {
    position: relative;
    width: 1098px;
    height: 754px;
    border-radius: 8px;
    background-color: #101010;
    color: $c-white;
    animation: expand-card 0.5s;
    letter-spacing: 1px;
    border: 1px solid #2A2A2A;
}

@keyframes expand-card {
    from {
        transform: translateY(-110%);
    }
    to {
        transform: translateY(0%);
    }
}
button[disabled]{
    background-color: $c-black-grey !important;
}
.vertical-line {
    border-left: 1px solid #191919;
    height: 630px;
    position: absolute;
    left: 383px;
    top: 70px;
}
.header {
    width: 100%;
    height: 100px;
    padding: 20px 20px 20px 50px;
    letter-spacing: 1px;

    .exit {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;

        width: 100%;
        height: 30px;
        cursor: pointer;

        svg {
            stroke: $c-white;
            height: 100%;

            &:hover {
                stroke: $c-white;
            }
        }
    }

    .title {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        width: 100%;
        font-size: 24px;
        font-weight: 600;
    }
}

.image-container{
    position: relative;
    text-align: center;
    color: $c-white;
    width: 300px; 
    height: 570px;

    img{

        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    .centered {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-shadow: 2px 2px 4px 0px #101010;
        font-weight: 600;
        line-height: 71px;
        font-size: 48px;
        text-transform: uppercase;
        font-family: oswald,sans-serif;
        
    }
}


.body {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    letter-spacing: 1px;
    overflow: auto;

    .players{
        width: 60%; 
        .horizontal-line {
            border: 0.5px solid #191919;
            width: 665px;
            position: absolute !important;
            left: 383px;
            margin-top: 12px;
        }
        input{
            background-color: $c-white !important;
            color: #A0A0A0;
            font-weight: 600;
            border: none;
            overflow: auto;
            outline: none;
            border-radius: 8px;
            margin: 10px 0;
            padding: 0 10px;

            width: 75%;
            height: 34px;
            
        }
        label{
            font-size: 18px;
            line-height: 22px;
            font-weight: 600;

        }
        input + button{
            background-color: #cfb525;
            width: 92px;
            margin: 10px;
            height: 34px;
            border-radius: 8px;

            font-weight: 600;
            color: #16191d!important;
        }
        .players-list {


            display: flex;
            flex-direction: column;
    
            margin-bottom: 3vh;
            margin-top: 5vh;

            h3{
                font-size: 18px;
                font-weight: 600;
                line-height: 22px;
                margin-bottom: 10px;
            }
    
            .player {
                width: 100%;
                height: 78px;
                margin-top: 4px;
 
                cursor: pointer;

                .horizontal-line {
                    margin-top:20px;
                    position: inherit !important;
                    width:  calc(599px - 50px);
                    margin-left: 25px;
                }

                .player-row{

                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-top:8px ;
                }

                .view-player{

                    display: flex; 
                    flex-direction: row; 
                    margin-top: 8px;
                    align-items: center;

                    .name{

                        margin-left: 10px;

                        span:first-of-type{
                            font-size: 14px;
                            font-weight: 600;
                            color:#F2F2F2;
    
                           
                        }
                        span{
                            font-size: 14px;
                            font-weight: 400;
                            color:#616161;
    
                            
                        }
                    }

                    img {
                        border-radius: 50%;
                        object-fit: cover;
                        width:43px;
                        height: 43px;
                        align-self: center;
                        margin-left: 15px;
    
    
                    }
                }
            }
            .player:hover{
                background-color: #191919;
            }
    
            .request-join-buttons {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-evenly;
                align-items: center;
    
                button {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;
    
                    width: 25px;
                    border-radius: 8px;
                    padding: 3px;
                    margin: 8px;
                }
    
                .accept-player {

                    background: $c-pale-green;
                    
    
                        &:hover {
                            background: $c-greenest;
                        }
                    svg {
                        fill: #13080883;
                    }
                }
    
                .reject-player {

                    background: $c-pale-red;
    
                        &:hover {
                            background: $c-reddest;
                        }
                    svg {
                        fill: #13080883;
                    }
                }
            }
        }
    }

   
}

.footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    height: 100px;
    width: 100%;
    letter-spacing: 1px;

    .button-box {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        width: 100%;
    }
}
