<div *ngIf="open" class="modal-custom">
    <div class="modal-overlay backdrop-blur-md" (click)="close()"></div>
    <div class="modal-container bg-zinc-900 text-white" [class.modal-small]="type === 'small'" [class.modal-medium]="type === 'medium'" [class.modal-large]="type === 'large'">
        <div class="modal-header">
            <h3 class="title">{{title}}</h3>
            <div class="control">
                <svg (click)="close()" class="cursor-pointer hover:bg-gray-700 rounded-sm p-1" width="28px" height="28px" viewBox="0 0 15 15" fill="#fff" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.7929 7.49998L1.14645 1.85353L1.85356 1.14642L7.50001 6.79287L13.1465 1.14642L13.8536 1.85353L8.20711 7.49998L13.8536 13.1464L13.1465 13.8535L7.50001 8.20708L1.85356 13.8535L1.14645 13.1464L6.7929 7.49998Z" />
                </svg>
            </div>
        </div>
        <ng-content></ng-content>
    </div>
</div>

