.bg {
    background:#333;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-text {
    color: #fff;
    font-size: 3rem;
}
.normal-text {
    font-size: 2rem;
    text-align: center;
}