@import "src/styles.scss";

.my-adventures-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0 2%;
}

.my-adventures-title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;

    height: 15%;
    width: 100%;
    padding-right: 50px;
    padding-bottom: 20px;

    .my-games-title {

        font-family: $oswald;
        font-size: 40px;
        font-weight: 600;
        line-height: 59px;
        color: #FFFFFF;

        margin: 0 25px;
    }

    .my-adventures-options{
        display: flex;

        .settings-option {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;

            width: 144px;
            height: 41px;
            margin-right: 20px;
            background-color: $c-white;
            border: 1px solid $c-white-grey;
            border-radius: 5px;

            text-transform: uppercase;
            font-family: $oswald;
            font-size: 18px;
            font-weight: 600;
            line-height: 27px;
            text-align: center;

            &:hover {
                background-color: $c-whitest;
                cursor: pointer;
            }
        }
    }
}

.my-adventures-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;

    min-width: 100vw;
    height: 70%;
    padding: 4px;
    overflow: hidden;

}

.adventure-box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    position: relative;
    z-index: 1;

    width: 20vw;
    min-width: 400px;
    height: 100%;
    margin: 25px;
    border: 3px solid #181818;

    box-shadow: 0 1px 2px rgba($c-black,0.12),
    0 2px 4px rgba($c-black,0.12),
    0 4px 8px rgba($c-black,0.12),
    0 8px 16px rgba($c-black,0.12),
    0 16px 32px rgba($c-black,0.12);
    cursor: pointer;

    &:hover {

        box-shadow:  0px 0px 4px 2px #CFB525;

        .top-cover {
            display: inline-block;
        }
    }

    .top-cover {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;

        width: 100%;
        height: 100%;
        box-shadow: inset 0 0 10px $c-blackest;

        .settings-icon {
            position: absolute;
            right: 10px;
            top: 15px;
            z-index: 3;
            width: 30px;
            height: 30px;
        }

        .enter-adventure {
            position: absolute;
            left: 0;
            bottom: 150px;

            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            width: 100%;

            span {
                color: $c-whitest;
                text-align: center;
                text-shadow: 0 2px 4px rgba($c-black ,0.7);
                text-transform: uppercase;

                font-family: $oswald;
                font-size: 60px;
                font-weight: 700;
                line-height: 71px;
            }
        }
    }

    .game-status {
        position: absolute;
        bottom: 20px;
        left: 0;
        z-index: 5;

        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        width: 100%;

        .game-activated, .game-paused, .game-stopped {
            width: 50px;
            height: 10px;
            //border: 1px solid rgba($c-black, 0.7);
            border-radius: 5%;
            background-color: $c-pale-blue;
            box-shadow: 0 0 8px $c-pale-blue;
        }

        .game-paused {
            background-color: $c-pale-orange;
            box-shadow: 0 0 8px $c-pale-orange;
        }

        .game-stopped {
            background-color: $c-pale-red;
            box-shadow: 0 0 8px $c-pale-red;
        }
    }

    .master-indicator {
        position: absolute;
        top: 5px;
        left: 5px;
        width: 45px;
        height: 37px;
    }

    .users-indicator {
        position: absolute;
        top: 10px;
        left: 54px;
        cursor: pointer;
        z-index: 7;

        .n-players-requested {
            position: absolute;
            top: -5px;
            right: -5px;
            z-index: 8;

            svg {
                fill: $c-reddest;
            }
        }

        img {
            width: 35px;
            height: 26px;
        }
    }

    .access-requested {
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        bottom: 40px;
        z-index: 2;

        width: 100%;
        height: 38px;
        color: #f2f2f2;

        font-family: $rubik;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        text-align: center;
    }

    .adventure-name {
        position: absolute;
        left: 0;
        top: 150px;

        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;

        color: $c-whitest;
        text-align: center;
        text-shadow: 0 2px 4px rgba($c-black ,0.7);
        text-transform: uppercase;

        font-family: $oswald;
        font-size: 48px;
        font-weight: 600;
        line-height: 71px;
        letter-spacing: 1px;
    }

    .settings-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 7;

        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;

        animation: slide-in-bottom 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

        .settings-option {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 55px;
            background-color: $c-white;
            border: 1px solid $c-white-grey;

            font-family: $rubik;
            font-size: 18px;
            font-weight: 400;
            line-height: 21px;
            text-align: center;

            &:hover {
                background-color: $c-whitest;
                cursor: pointer;
            }
        }
    }
    .cover-image {
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            align-content: center;
        }
    }
}

.new-adv {
    @extend .adventure-box;

    &:hover {

        .settings-overlay {
            display: inline-block;
        }
    }

    .settings-overlay {
        display: none;
    }
}

@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(500px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
