<div class="my-adventures-container">
    <div class="my-adventures-header">
        <div class="my-games-title">MY GAMES</div>
        <div class="my-adventures-options">
            <button class="settings-option cursor-pointer mr-4 bg-white hover:bg-gray" (click)="searchGame()">find game</button>
            <button class="settings-option cursor-pointer bg-white hover:bg-gray" (click)="startNewGame()">new game</button>
        </div>
    </div>
    <div class="my-adventures-body" *ngIf="adventures">
        <div class="adventure-box" *ngFor="let adventure of adventures; let i = index;">
            <div class="cover-image">
                <img class="grayscale" *ngIf="!adventure.coverImage?.uri" [src]="'../../../../assets/backgrounds/menus/background-default-game.webp'" alt="adventure background">
                <img class="" *ngIf="adventure.coverImage?.uri" [src]="adventure.coverImage?.uri" alt="adventure background">
            </div>
            <div class="game-status">
                <div *ngIf="adventure.status === 0" class="game-activated"></div>
                <div *ngIf="adventure.status === 1" class="game-paused"></div>
                <div *ngIf="adventure.status === 2" class="game-stopped"></div>
            </div>
            <div class="top-cover" (click)="loadGame(adventure)"
                 (mouseleave)="stopFollowingMouse()"
                 (mouseenter)="startFollowingMouse(adventure.id)">
                <div class="settings-icon" (click)="displayAdventureSettings(adventure.id, $event)">
                    <img src="./assets/svg/settings%20_icon.svg" alt="settings" class="hover:scale-125 transition" width="30" height="30">
                </div>
                <div class="enter-adventure">
                    <span *ngIf="adventure.status === 0">ENTER</span>
                </div>
            </div>
            <img *ngIf="currentUser.id === adventure.author.id" src="assets/icons/master-crown.png" alt="master crown" class="master-indicator" />
            <div *ngIf="currentUser.id === adventure.author.id && adventure.playersRequested.length > 0" class="users-indicator">
                <span class="n-players-requested">
                    <svg width="18px" height="18px" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--emojione-monotone" preserveAspectRatio="xMidYMid meet">
                        <path d="M36.989 42.439H27.01L23 2h18z"></path>
                        <ellipse cx="31.999" cy="54.354" rx="7.663" ry="7.646"></ellipse>
                    </svg>
                </span>
                <img *ngIf="currentUser.id === adventure.author.id" src="assets/svg/users.svg"
                     alt="number of users" (click)="displayUsersList(adventure, $event)" />
            </div>
            <div class="adventure-name">
                {{adventure.name}}
            </div>
            <div class="access-requested" *ngIf="isAccessRequested(adventure)">
                Access requested
            </div>
            <div class="settings-overlay" *ngIf="adventure.id === adventureSettingsDisplayedId">
                <div *ngIf="currentUser.id === adventure.author.id" class="settings-option hover:brightness-95" (click)="displayUsersList(adventure, $event)">See players list</div>
                <div *ngIf="currentUser.id === adventure.author.id" class="settings-option hover:brightness-95" (click)="editGame(adventure, i, $event)">Edit game</div>
<!--                <div *ngIf="currentUser.id === adventure.author.id" class="settings-option" (click)="duplicateGame(adventure, $event)">Duplicate game</div>-->
                <div *ngIf="!isAccessRequested(adventure)" class="settings-option hover:brightness-95" (click)="deleteGame(adventure, i , $event)">Delete game</div>
                <div *ngIf="isAccessRequested(adventure)" class="settings-option hover:brightness-95" (click)="cancelGameRequest(adventure, i , $event)">Cancel request</div>
            </div>
        </div>
    </div>
</div>
