.tutorial-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    z-index: 8888;
    overflow: hidden;
}
.tutorial-overlap {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.1);
}
.tutorial-selector-area {
    position: fixed;
    top:280px;
    left:0;
    width: 70px;
    height: 280px;
    z-index: 8889;
    border-radius: 5px;
    border: 5px solid #02fb14;
}
.tutorial-box-description {
    position: fixed;
    top: 280px;
    left: 80px;
    z-index: 8889;
    background: white;
}
