<div class="attributes" *ngIf="attributes">
    <div class="attribute-invisible-box">
        <div class="attribute-box">
            <div class="attr-title">Strength</div>
            <div class="attr-bonus">{{attributes.strength.bonus}}</div>
            <div class="attr-point">{{attributes.strength.points}}</div>
        </div>
    </div>
    <div class="attribute-invisible-box">
        <div class="attribute-box">
            <div class="attr-title">Dexterity</div>
            <div class="attr-bonus">{{attributes.dexterity.bonus}}</div>
            <div class="attr-point">{{attributes.dexterity.points}}</div>
        </div>
    </div>
    <div class="attribute-invisible-box">
        <div class="attribute-box">
            <div class="attr-title">Constitution</div>
            <div class="attr-bonus">{{attributes.constitution.bonus}}</div>
            <div class="attr-point">{{attributes.constitution.points}}</div>
        </div>
    </div>
    <div class="attribute-invisible-box">
        <div class="attribute-box">
            <div class="attr-title">Intelligence</div>
            <div class="attr-bonus">{{attributes.intelligence.bonus}}</div>
            <div class="attr-point">{{attributes.intelligence.points}}</div>
        </div>
    </div>
    <div class="attribute-invisible-box">
        <div class="attribute-box">
            <div class="attr-title">Wisdom</div>
            <div class="attr-bonus">{{attributes.wisdom.bonus}}</div>
            <div class="attr-point">{{attributes.wisdom.points}}</div>
        </div>
    </div>
    <div class="attribute-invisible-box">
        <div class="attribute-box">
            <div class="attr-title">Charisma</div>
            <div class="attr-bonus">{{attributes.charisma.bonus}}</div>
            <div class="attr-point">{{attributes.charisma.points}}</div>
        </div>
    </div>
</div>
