@import "src/styles.scss";

.menu-box {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.menu-container {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    padding-left: 15vw;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu-left, .menu-right {
    position: relative;
    width: 50%;
    height: 100%;
    pointer-events: none;
}

.menu-logo {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100px;

    font-size: 60px;
    font-weight: 600;
    color: $c-white-grey;

    display: flex;
    align-items: center;
}

.menu-block {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

    height: 70vh;
}

.menu-option {
    display: block;
    width: fit-content;
    margin-bottom: 4rem;
    position: relative;

    color: $c-white-grey;
    font-family: $oswald;
    font-size: 5rem;
    font-weight: 700;
    line-height: 71px;
    letter-spacing: 1rem;
    text-transform: uppercase;
    text-align: left;
    cursor: pointer;
    pointer-events: all;

    .fake-shadow-text {
        position: absolute;
        top: 0.4rem;
        left: 0.4rem;
        z-index: -1;

        color: $c-blackest;
        font-family: $oswald;
        font-size: 5rem;
        font-weight: 700;
        line-height: 71px;
        letter-spacing: 1rem;
        text-transform: uppercase;
        text-align: left;
    }

    &:hover {
        color: #fff;
        font-size: 6rem;
        transition: all .2s ease-out;

        .fake-shadow-text {
            font-size: 6rem;
            transition: all .2s ease-out;
        }

        .light {
            animation: light-strike 5s 0s;
        }
    }
}

.exit {
    height: 30%;
}

.light {
    position: absolute;
    top: 2vh;
    left: -50vw;
    width: 30vw;
    transform: rotate(180deg);
    z-index: -1;
}

@keyframes light-strike {
    0% {
        left: -50vw;
    }
    1% {
        left: -15vw;
    }
    2% {
        left: -15vw;
    }
    3% {
        left: -50vw;
    }
}
