<div class="character-sheet-box">
    <div class="header">
        <div class="name">Steiner</div>
        <div class="data">
            <div class="data-row">
                <div class="data-el">
                    <div class="el-data">Paladin 2</div>
                    <div class="el-title">Class and level</div>
                </div>
                <div class="data-el">
                    <div class="el-data">Soldier</div>
                    <div class="el-title">Background</div>
                </div>
            </div>
            <div class="data-row">
                <div class="data-el">
                    <div class="el-data">Standard Human</div>
                    <div class="el-title">Race</div>
                </div>
                <div class="data-el">
                    <div class="el-data">Neutral Good</div>
                    <div class="el-title">Alignment</div>
                </div>
                <div class="data-el">
                    <div class="el-data">700</div>
                    <div class="el-title">Experience points</div>
                </div>
            </div>
        </div>
    </div>

    <div class="attributes">
        <div class="attribute-invisible-box">
            <div class="attribute-box">
                <div class="attr-title">Strength</div>
                <div class="attr-bonus">2</div>
                <div class="attr-point">14</div>
            </div>
        </div>
        <div class="attribute-invisible-box">
            <div class="attribute-box">
                <div class="attr-title">Dexterity</div>
                <div class="attr-bonus">-1</div>
                <div class="attr-point">9</div>
            </div>
        </div>
        <div class="attribute-invisible-box">
            <div class="attribute-box">
                <div class="attr-title">Constitution</div>
                <div class="attr-bonus">2</div>
                <div class="attr-point">15</div>
            </div>
        </div>
        <div class="attribute-invisible-box">
            <div class="attribute-box">
                <div class="attr-title">Intelligence</div>
                <div class="attr-bonus">0</div>
                <div class="attr-point">11</div>
            </div>
        </div>
        <div class="attribute-invisible-box">
            <div class="attribute-box">
                <div class="attr-title">Wisdom</div>
                <div class="attr-bonus">1</div>
                <div class="attr-point">13</div>
            </div>
        </div>
        <div class="attribute-invisible-box">
            <div class="attribute-box">
                <div class="attr-title">Charisma</div>
                <div class="attr-bonus">3</div>
                <div class="attr-point">16</div>
            </div>
        </div>
    </div>

    <div class="inspiration">
        <div class="inspiration-value">1</div>
        <div class="inspiration-title">Inspiration</div>
    </div>

    <div class="proficiency">
        <div class="proficiency-value">2</div>
        <div class="proficiency-title">Proficiency bonus</div>
    </div>

    <div class="saving-throws">
        <div class="st-box">
            <div class="st-row">
                <div class="st-dot">
                    <input type="checkbox" id="checkbox-strength" />
                    <label for="checkbox-strength"></label>
                </div>
                <div class="st-value">2</div>
                <div class="st-title">Strength</div>
            </div>
            <div class="st-row">
                <div class="st-dot">
                    <input type="checkbox" id="checkbox-dexterity" />
                    <label for="checkbox-dexterity"></label>
                </div>
                <div class="st-value">-1</div>
                <div class="st-title">Dexterity</div>
            </div>
            <div class="st-row">
                <div class="st-dot">
                    <input type="checkbox" id="checkbox-constitution" />
                    <label for="checkbox-constitution"></label>
                </div>
                <div class="st-value">2</div>
                <div class="st-title">Constitution</div>
            </div>
            <div class="st-row">
                <div class="st-dot">
                    <input type="checkbox" id="checkbox-intelligence" />
                    <label for="checkbox-intelligence"></label>
                </div>
                <div class="st-value">0</div>
                <div class="st-title">Intelligence</div>
            </div>
            <div class="st-row">
                <div class="st-dot">
                    <input type="checkbox" id="checkbox-wisdom" />
                    <label for="checkbox-wisdom"></label>
                </div>
                <div class="st-value">3</div>
                <div class="st-title">Wisdom</div>
            </div>
            <div class="st-row">
                <div class="st-dot">
                    <input type="checkbox" id="checkbox-charisma" />
                    <label for="checkbox-charisma"></label>
                </div>
                <div class="st-value">5</div>
                <div class="st-title">Charisma</div>
            </div>
        </div>
        <div class="st-box-title">Saving throws</div>
    </div>
</div>
