<div class="character-sheet-box" *ngIf="character">
    <app-cs-header [character]="character"></app-cs-header>

    <div class="body">
        <div class="column">
            <div class="attr-block">
                <app-cs-attributes [attributes]="character.attributes"></app-cs-attributes>
                <div class="inspiration-block">
                    <div class="inspiration">
                        <div class="inspiration-value">{{character.inspiration}}</div>
                        <div class="inspiration-title">Inspiration</div>
                    </div>

                    <div class="proficiency">
                        <div class="proficiency-value">{{character.proficiencyBonus}}</div>
                        <div class="proficiency-title">Proficiency bonus</div>
                    </div>
                    <app-cs-saving-throws [savingThrows]="character.savingThrows"></app-cs-saving-throws>
                    <app-cs-skills [skills]="character.skills"></app-cs-skills>
                </div>
            </div>
            <div class="passive-wisdom">
                <div class="value">21</div>
                <div class="title">Passive wisdom (perception)</div>
            </div>
            <div class="proficiencies-and-languages">
                <div class="pal-box">
                    <div class="pal-data-box">
                        <div class="pal-cell-title">Type</div>
                        <div class="pal-cell-title">Name</div>
                    </div>
                    <div *ngFor="let pal of character.proficiencies" class="pal-data-box">
                        <div class="pal-cell-type">{{pal.type}}</div>
                        <div class="pal-cell-name">{{pal.name}}</div>
                    </div>
                </div>
                <div class="pal-box-title">Proficiencies & languages</div>
            </div>
        </div>
        <div class="column">
            <div class="armor-class-box">
                <div class="armor-class-row">
                    <div class="fake-row">
                        <div class="armor-class">
                            <div class="value">{{character.armorClass}}</div>
                            <div class="title">Armor class</div>
                        </div>
                        <div class="initiative">
                            <div class="value">{{character.initiative}}</div>
                            <div class="title">Initiative</div>
                        </div>
                        <div class="speed">
                            <div class="value">{{character.speed}}</div>
                            <div class="title">Speed</div>
                        </div>
                    </div>
                </div>
                <div class="current-hit-points">
                    <div class="hp-maximum">
                        <div class="title">Hit Point Maximum</div>
                        <div class="value">{{character.hitPointMax}}</div>
                    </div>
                    <div class="current-hp">
                        <div class="value">{{character.currentHP}}</div>
                        <div class="title">Current Hit Points</div>
                    </div>
                </div>
                <div class="temporary-hit-points">
                    <div class="value">{{character.hitPointMax}}</div>
                    <div class="title">Temporary Hit Points</div>
                </div>
                <div class="hit-dice-box-row">
                    <div class="hit-dice-box">
                        <div class="total">
                            <div class="title">Total</div>
                            <div class="value">{{character.totalHitDice}}</div>
                        </div>
                        <div class="hit-dice">
                            <div class="value">{{character.nHitDice}}</div>
                            <div class="title-row">
                                <div class="title">Hit Dice</div>
                                <div class="title-hit-dice">({{character.hitDice}})</div>
                            </div>
                        </div>
                    </div>
                    <div class="death-saves-box">
                        <div class="row">
                            <div class="title">Successes</div>
                            <div class="checks">
                                <div class="green-check" *ngFor="let check of character.deathSaves.success; let i = index;">
                                    <input type="checkbox" [id]="'success-checkbox' + i" [checked]="check"/>
                                    <label [for]="'success-checkbox' + i"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="title">Failures</div>
                            <div class="checks">
                                <div class="red-check" *ngFor="let check of character.deathSaves.failures; let i = index;">
                                    <input type="checkbox" [id]="'failure-checkbox' + i" [checked]="check"/>
                                    <label [for]="'failure-checkbox' + i"></label>
                                </div>
                            </div>
                        </div>
                        <div class="death-saves-title">Death saves</div>
                    </div>
                </div>
            </div>
            <div class="attacks-and-spellcasting">
                <div class="att-box">
                    <div class="att-data-box">
                        <div class="att-cell-title">Name</div>
                        <div class="att-cell-title-att">Attack</div>
                        <div class="att-cell-title">Damage & Type</div>
                    </div>
                    <div *ngFor="let att of character.attacksAndSpellcasting" class="att-data-box">
                        <div *ngIf="att.name" class="att-cell-name">{{att.name}}</div>
                        <div *ngIf="att.attack" class="att-cell-att">+{{att.attack}}</div>
                        <div *ngIf="!att.attack" class="att-cell-att">-</div>
                        <div class="att-cell-type">
                            <ng-container *ngIf="att.dice">
                                <span>{{att.dice.n}}</span>
                                <span>d{{att.dice.value}}</span>
                                <span *ngIf="att.dice.bonus !== 0">+{{att.dice.bonus}}</span>
                            </ng-container>
                            <span class="att-cell-type-title" *ngIf="att.type">{{att.type}}</span>
                        </div>
                    </div>
                </div>
                <div class="att-box-title">Attacks and Spellcasting</div>
            </div>
            <div class="equipment">
                <div class="equipment-box">
                    <div class="total-weight-box">
                        <div class="title">Total weight</div>
                        <div class="value">{{character.totalWeight}}</div>
                    </div>
                    <div class="equipment-inner-box">
                        <div class="row-title">
                            <div class="quantity">Q</div>
                            <div class="name">Name</div>
                            <div class="weight">W</div>
                        </div>
                        <div class="row" *ngFor="let item of character.equipment">
                            <div class="quantity">{{item.quantity}}</div>
                            <div class="name">{{item.name}}</div>
                            <div class="weight">{{item.weight}}</div>
                        </div>
                    </div>
                </div>
                <div class="equipment-box-title">Equipment</div>
                <div class="equipment-currency-box">
                    <div class="equipment-currency">
                        <div class="title">PP</div>
                        <div class="value">{{character.currency.pp}}</div>
                    </div>
                    <div class="equipment-currency">
                        <div class="title">GP</div>
                        <div class="value">{{character.currency.gp}}</div>
                    </div>
                    <div class="equipment-currency">
                        <div class="title">EP</div>
                        <div class="value">{{character.currency.ep}}</div>
                    </div>
                    <div class="equipment-currency">
                        <div class="title">SP</div>
                        <div class="value">{{character.currency.sp}}</div>
                    </div>
                    <div class="equipment-currency">
                        <div class="title">CP</div>
                        <div class="value">{{character.currency.cp}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="personality-traits-box">
                <div class="personality-traits">
                    <div class="value">{{character.background.personalityTrait}}</div>
                    <div class="title">Personality trait</div>
                </div>
                <div class="ideals">
                    <div class="value">{{character.background.ideals}}</div>
                    <div class="title">Ideals</div>
                </div>
                <div class="bonds">
                    <div class="value">{{character.background.bonds}}</div>
                    <div class="title">Bonds</div>
                </div>
                <div class="flaws">
                    <div class="value">{{character.background.flaws}}</div>
                    <div class="title">Flaws</div>
                </div>
            </div>
            <div class="features-and-traits">
                <div class="fat-box">
                    <div class="block" *ngFor="let feat of character.featuresAndTraits">
                        <div class="name">{{feat.name}}</div>
                        <div class="source">{{feat.source}}: {{feat.sourceType}}</div>
                    </div>
                </div>
                <div class="fat-box-title">Features and Traits</div>
            </div>
        </div>
    </div>
</div>
