<div class="zoom-tools box-shadow">
    <div class="cursor-pointer flex w-100 h-100 relative transition justify-content-center align-items-center hover:bg-gray-100" (click)="setZoom(zoom - zoomStep)">
        <img class="object-contain w-[25px]" src="assets/svg/minus.svg" >
    </div>
    <div class="zoom-value">{{zoom | percent}}</div>
    <div class="cursor-pointer flex w-100 h-100 relative transition justify-content-center align-items-center hover:bg-gray-100" (click)="setZoom(zoom + zoomStep)">
        <img class="object-contain w-[25px]" src="assets/svg/add.svg">
    </div>
</div>
