// ---- EDITOR ------
$editorMainBackground: #111316;
$editorMainForeground: #16191D;
$littleGrey: #262A31;
$notSoWhite: #DBDBDB;
$editorColumnsBorderColor: #000;
$editorSelectedColor: rgb(91,145,226);

// ---- HOME -----
$colorWhite: #fff;
$colorGreen: rgb(116,205,120);
$colorRed: #e73044;
$colorDarkGray: rgb(87,99,116);
$colorDarkBlue: #15171e;
$colorDarkSolid: #000;

//---- CUSTOM --------
$colorCreme: #D2C084;
