@import "colors";

$oswald: 'oswald', sans-serif;
@font-face {
    font-family: oswald;
    src: url(assets/fonts/Oswald-VariableFont_wght.ttf) format("opentype");
}


// ------------------- GENERAL --------------------
* {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
}
body{
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: inherit;
    }
}
.font-normal{
    font-size: 14px;
}
label{
    display: block;
}
.box{
    border: 1px solid #333;
}
.bg-green {
    background: $colorGreen;
}
.bg-red {
    background: $colorRed;
}
.bg-dark-gray{
    background: $colorDarkGray;
}

// ------------------ Auxiliars ------------------
.cursor-pointer {
    cursor: pointer;
}
.cursor-hand {
    cursor: grab;
}
.cursor-text, .cursor-square {
    cursor: alias;
}

// ------------- GAME EDITOR STYLES -------------
.game-editor {
    input[type="text"] {
        background: $editorMainForeground;
        border: 1px solid $editorColumnsBorderColor;
        color: $colorWhite;
    }
}

// --------------- LISTS styles -----------------
.page-list{
    height: 200px;
    border-bottom: 8px solid $editorColumnsBorderColor;
}
.h-100{
    height: 100%;
}
.list-title{
    display: grid;
    grid-template-columns: 40px auto 40px;
    grid-template-rows: 40px;
    align-items: center;
    overflow: hidden;

    &:hover{
        background: darken($editorMainForeground, 5%);
    }
    .title{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .fas{
        margin: 0 10px;
    }
}

.content-list {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 14px;
    overflow: hidden;
    overflow-y: auto;

    .item{
        display: grid;
        align-items: center;
        grid-template-columns: auto;
        grid-template-rows: 40px;
        position: relative;

        &.active{
            >.item-name {
                background: $editorSelectedColor;
            }

            background: rgba($editorSelectedColor, 0.3);
        }
    }

    .item-name {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        height: 100%;
        padding: 0 10px;
        justify-content: flex-start;

        .item-tools {
            display: none;
            width: 33px;
            justify-content: space-between;
        }

        &:hover{
            background: darken($editorMainForeground, 5%);
            .item-tools {
                display: flex;
            }
        }

        .item-name-icon {
            width: 20px;
            align-items: center;
            padding: 0 8px;
        }
    }

}

// ----------------RECURSIVE LIST --------------------------
.recursive-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;

    .item{
        position: relative;
        display: grid;
        overflow: hidden;

        &.active{
            >.item-name {
                background: $editorSelectedColor;
            }

            background: rgba($editorSelectedColor, 0.3);
        }

        &.open{
            height: 40px;
        }
    }

    .item-name {
        display: grid;
        grid-template-columns: 20px 25px auto;
        grid-template-rows: 40px;
        align-items: center;
        cursor: pointer;
        height: 40px;
        font-size: 14px;
        // padding: 0 5px;

        &:hover{
            background: darken($editorMainForeground, 5%);
        }
    }

    .item-icon {
        justify-self: center;
        align-items: center;
    }
    img.item-icon{
        width: 20px;
    }
}

// ------------ DRAGULA --------------------------
/* in-flight clone */
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.6;
    background: rgba(255,255,255,0.2);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
    left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
    cursor: pointer;
    opacity: 0.3;
    background: rgba(255,255,255,0.1);
    border-bottom: 2px solid $editorSelectedColor;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}



//CUSTOM MAD DIALOG
// @import "src/styles.scss";
::ng-deep .mat-dialog-container {
    padding: 0;
    border-radius: 6px;
}

.blurry {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    filter: blur(3px);
}

.dialogBackdrop,
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: 0.5;
}

.dialogBackdrop {
    background-color: transparent;
}

::ng-deep .cdk-overlay-pane {
    max-height: 92vh;
}

html, body { height: 100%; }
