@import "colors";
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.font-normal{
  font-size: 14px;
}
label{
  display: block;
}


// --------------- BGS
.bg-green {
  background: rgb(116,205,120);
}
.bg-red {
  background: rgb(242,90,90);
}
.bg-dark-gray{
  background: rgb(87,99,116);
}


// ------------ Auxiliars
.mb-1{
  margin-bottom: 1rem;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-hand {
  cursor: grab;
}
.cursor-text, .cursor-square {
    cursor: alias;
}

// ------------- GAME EDITOR STYLES
.game-editor {
  input[type="text"] {
    background: $editorMainForeground;
    border: 1px solid $editorColumnsBorderColor;
    color: #fff;
  }
}

// --------------- LISTS styles
.page-list{
    height: 200px;
    border-bottom: 8px solid $editorColumnsBorderColor;
}
.h-100{
    height: 100%;
}
.list-title{
    display: grid;
    grid-template-columns: 40px auto 40px;
    grid-template-rows: 40px;
    align-items: center;
    overflow: hidden;

    &:hover{
        background: darken($editorMainForeground, 5%);
    }
    .title{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .fas{
        margin: 0 10px;
    }
}
.content-list {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 14px;
    overflow: hidden;
    overflow-y: auto;

    .item{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 40px;
        align-items: center;
        position: relative;

        &.active{
            >.item-name {
                background: $editorSelectedColor;
            }

            background: rgba($editorSelectedColor, 0.3);
        }
    }

    .item-name {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        height: 100%;
        padding: 0 10px;

        &:hover{
            background: darken($editorMainForeground, 5%);
        }

        .item-name-icon {
            width: 20px;
            align-items: center;
            padding: 0 8px;
        }
    }

}

// ------------ DRAGULA
/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.6;
  background: rgba(255,255,255,0.2);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  cursor: pointer;
  opacity: 0.3;
  background: rgba(255,255,255,0.1);
  border-bottom: 2px solid $editorSelectedColor;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
