@import "../../../colors";

.map-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    height: 99.9vh;
}

app-editor-tools {
    width: 40px;
    height: 100%;
    border-top: 1px solid $editorColumnsBorderColor;
    border-right: 1px solid $editorColumnsBorderColor;
    background: $editorMainForeground;
    color: white;
}

app-map {
    width: calc(100% - 40px);
    height: 100%;
}
