<div class="tools-container">
  <div class="tool" [class.active]="currentToolSelected === 'cursor'" (click)="onToolSelected('cursor')">
    <i class="fas fa-mouse-pointer"></i>
  </div>
  <div class="tool" [class.active]="currentToolSelected === 'move'" (click)="onToolSelected('moveMap')">
    <i class="far fa-hand-paper"></i>
  </div>
  <div class="tool" [class.active]="currentToolSelected === 'text'" (click)="onToolSelected('text')">
    <i class="fas fa-text-width"></i>
  </div>
  <div class="tool" [class.active]="currentToolSelected === 'draw'" (click)="onToolSelected('brush')">
    <i class="fas fa-paint-brush"></i>
  </div>
  <div class="tool" [class.active]="currentToolSelected === 'square'" (click)="onToolSelected('square')">
    <i class="far fa-square"></i>
  </div>
  <div class="tool" [class.active]="currentToolSelected === 'image'" (click)="onToolSelected('image')">
    <i class="far fa-image"></i>
  </div>
</div>
