<div class="tools-container">
    <div class="multiple-tools" *ngFor="let blockOfTools of blocksOfTools; let i = index"
         (mouseenter)="displayExtraToolsIndex = i"
         (mouseleave)="displayExtraToolsIndex = 99">
        <ng-container *ngFor="let tool of blockOfTools">
            <div *ngIf="tool.displayed" class="tool"
                 [class.active]="currentToolSelected === tool.name" (click)="onToolSelected(tool.name)">
                <i [ngClass]="tool.icon"></i>
                <div *ngIf="blockOfTools.length > 1" class="triangle"></div>
            </div>
        </ng-container>
        <ng-container *ngIf="displayExtraToolsIndex === i">
            <ng-container *ngFor="let tool of blockOfTools">
                <div *ngIf="!tool.displayed" class="extra-tools">
                    <div class="tool"
                         [class.active]="currentToolSelected === tool.name" (click)="onToolSelected(tool.name)">
                        <i [ngClass]="tool.icon"></i>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>
