<div class="floating-bar-box"
     [style.top]="position.y - 60 + 'px'"
     [style.left]="position.x + 'px'">
    <app-konva-rectangle-properties *ngIf="selectedObject.type === 'square'"
                                    [rectangle]="selectedObject.ourKonvaObject"
                                    (rectangleChange)="updateObject($event)"
                                    (isAdaptedToGridChange)="isObjectAdaptedToGridToggle($event)"
                                    (isEditionBlockedChange)="editionBlockedToggle($event)"
                                    (isDisplayedJustForMasterChange)="displayedJustForMaster($event)">
    </app-konva-rectangle-properties>
</div>

